Repository Roblox/creator-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: tools, github, art, assets, education, design, engine guides, engine reference, navigation, cloud, resources, studio, tutorials

Fix speak function
  content/en-us/tutorials/fundamentals/coding-5/intro-to-arrays.md
Labels: tutorials

Update construct-your-world.md
  content/en-us/tutorials/environmental-art/construct-your-world.md
Labels: tutorials

Update construct-your-world.md (#148)
  content/en-us/tutorials/environmental-art/construct-your-world.md
Labels: tutorials

Update customization.md
  content/en-us/studio/customization.md
Labels: studio

Update game-passes.md
  content/en-us/production/monetization/game-passes.md
Labels: engine guides

Delete content/en-us/studio/index.md
  content/en-us/studio/index.md
Labels: studio

Fix missing end statement from pathfinding.md
  content/en-us/characters/pathfinding.md
Labels: engine guides

Add missing end statement to pathfinding.md (#152)
  content/en-us/characters/pathfinding.md
Labels: engine guides

Formatting
  content/en-us/production/game-design/contextual-purchases.md
Labels: design

Contextual Purchases Formatting (#153)
  content/en-us/production/game-design/contextual-purchases.md
Labels: design

.github/labeler.yml:

# https://github.com/actions/labeler
### Tools ###

# Add 'tools' label to any file change not in content dir
tools:
  - '!content/**/*'

# Add extra label for .github folder for extra visibility
github:
  - '.github/**/*'

### Content ###

art:
  - 'content/en-us/art/**/*'
  - 'content/common/navigation/engine/art.yaml'

assets:
  - 'content/en-us/assets/**/*'

education:
  - 'content/en-us/education/**/*'
  - 'content/en-us/assets/education/**/*'
  - 'content/common/navigation/education.yaml'

design:
  - 'content/en-us/production/game-design/**/*'
  - 'content/common/navigation/engine/design.yaml'

# Add 'engine guides' label to any .md change not in any other category
# Need to use `any` syntax for excluding subfolders
engine guides:
  - any:
      [
        'content/en-us/**/*',
        '!content/en-us/art/**/*',
        '!content/en-us/assets/**/*',
        '!content/en-us/cloud/**/*',
        '!content/en-us/education/**/*',
        '!content/en-us/production/game-design/**/*',
        '!content/en-us/reference/**/*',
        '!content/en-us/resources/**/*',
        '!content/en-us/studio/**/*',
        '!content/en-us/tutorials/**/*',
      ]
  - 'content/common/navigation/engine/guides.yaml'

engine reference:
  - 'content/en-us/reference/engine/**/*'
  - 'content/common/navigation/engine/reference.yaml'

navigation:
  - 'content/common/navigation/**/*'

cloud:
  - 'content/en-us/cloud/**/*'
  - 'content/en-us/assets/open-cloud/**/*'
  - 'content/en-us/reference/cloud/**/*'
  - 'content/common/navigation/cloud/**/*'

resources:
  - 'content/en-us/resources/**/*'
  - 'content/common/navigation/engine/resources.yaml'

studio:
  - 'content/en-us/studio/**/*'
  - 'content/en-us/assets/studio/**/*'
  - 'content/common/navigation/engine/studio.yaml'

tutorials:
  - 'content/en-us/tutorials/**/*'
  - 'content/en-us/assets/tutorials/**/*'
  - 'content/common/navigation/engine/tutorials.yaml'
