Repository Roblox/creator-docs, pull requests merged in 2023-08, with the labels that each got.

#5 Fix typos
  content/en-us/cloud/open-cloud/data-store-api-handling.md
  content/en-us/cloud/webhooks/automate-right-to-erasure.md
Labels: cloud

#7 fix spelling and grammar errors in monetization-foundations
  content/en-us/production/game-design/monetization-foundations.md
Labels: design

#16 Better word choice for solid-modeling.md
  content/en-us/parts/solid-modeling.md
Labels: engine guides

#22 Replaced ModifierID with Label property
  content/en-us/characters/pathfinding.md
Labels: engine guides

#23 Typo Fix in account-verification.md
  content/en-us/production/publishing/account-verification.md
Labels: engine guides

#28 Replace delay() with task.delay()
  content/en-us/luau/functions.md
Labels: engine guides

#26 Replace Humanoid:LoadAnimation() with Animator:LoadAnimation()
  content/en-us/education/build-it-play-it-island-of-move/adding-animations.md
Labels: education

#31 Update SetAsync example to correctly use player data
  content/en-us/players/index.md
Labels: engine guides

#37 Replace 'a' with 'an' when preceding a vowel sound.
  content/en-us/art/avatar/facial-animation/using-heads-in-studio.md
  content/en-us/art/marketplace/intellectual-property.md
  content/en-us/chat/legacy/admin-commands.md
  content/en-us/education/adventure-game-series/finishing-the-project.md
  content/en-us/education/build-it-play-it-create-and-destroy/icons-and-thumbnails.md
  content/en-us/education/build-it-play-it-create-and-destroy/landing.md
  content/en-us/education/lesson-plans/galactic-speedway-lesson.md
  content/en-us/education/lesson-plans/intro-to-game-and-coding.md
  content/en-us/education/support/private-servers-for-classroom-use.md
  content/en-us/luau/operators.md
  content/en-us/tutorials/fundamentals/coding-3/giving-points.md
  content/en-us/tutorials/fundamentals/coding-5/making-changes-to-arrays.md
  content/en-us/tutorials/scripting/basic-scripting/deadly-lava.md
Labels: art, education, engine guides, tutorials

#30 Fixed typos, added punctuation and rephrased certain sentences for clarity
  content/en-us/production/earning-on-roblox.md
  content/en-us/production/index.md
  content/en-us/projects/assets/in-experience-asset-creation.md
Labels: engine guides

#25 Grammar fixes for multithreading.md
  content/en-us/scripting/multithreading.md
Labels: engine guides

#33 Replace Players.NumPlayers with #Players:GetPlayers()
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
  content/en-us/education/battle-royale-series/coding-the-game-loop.md
  content/en-us/education/battle-royale-series/creating-a-gui.md
  content/en-us/education/battle-royale-series/ending-matches.md
  content/en-us/education/battle-royale-series/managing-players.md
  content/en-us/education/battle-royale-series/timers-and-events.md
Labels: education

#15 Grammar fixes
  content/en-us/scripting/scripts.md
Labels: engine guides

#32 Replace :GetChildren() with :GetPlayers(), add indent, and improve code
  content/en-us/characters/appearance.md
Labels: engine guides

#24 refactor: replaced deprecated `wait` with `task.wait`
  content/en-us/chat/legacy/legacy-chat-system.md
  content/en-us/cloud-services/memory-stores/queue.md
  content/en-us/education/adventure-game-series/collect-items.md
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
  content/en-us/education/battle-royale-series/coding-the-game-loop.md
  content/en-us/education/battle-royale-series/creating-a-gui.md
  content/en-us/education/battle-royale-series/ending-matches.md
  content/en-us/education/battle-royale-series/managing-players.md
  content/en-us/education/battle-royale-series/timers-and-events.md
  content/en-us/education/build-it-play-it-island-of-move/adding-animations.md
  content/en-us/education/resources/coding-concept-algorithms.md
  content/en-us/input/customizing-mouse-icons.md
  content/en-us/input/mobile.md
  content/en-us/luau/control-structures.md
  content/en-us/luau/nil.md
  content/en-us/resources/battle-royale/minimap-system.md
  content/en-us/resources/beyond-the-dark/user-interface.md
  content/en-us/resources/the-mystery-of-duvall-drive/developing-a-moving-world.md
  content/en-us/scripting/events.md
  content/en-us/scripting/scripts.md
  content/en-us/tutorials/fundamentals/coding-2/coding-a-function.md
  content/en-us/tutorials/fundamentals/coding-3/giving-points.md
  content/en-us/tutorials/fundamentals/coding-3/multiple-conditions.md
  content/en-us/tutorials/fundamentals/coding-3/powerups-with-if-statements.md
  content/en-us/tutorials/fundamentals/coding-4/creating-a-timed-bridge.md
  content/en-us/tutorials/fundamentals/coding-4/glow-lights-with-for-loops.md
  content/en-us/tutorials/fundamentals/coding-4/intro-to-for-loops.md
  content/en-us/tutorials/fundamentals/coding-4/nested-loops.md
  content/en-us/tutorials/fundamentals/coding-4/repeating-code-with-while-loops.md
  content/en-us/tutorials/fundamentals/coding-5/loops-and-arrays.md
  content/en-us/tutorials/fundamentals/coding-6/coding-concept-algorithms.md
  content/en-us/tutorials/scripting/basic-scripting/fading-trap.md
  content/en-us/tutorials/scripting/basic-scripting/intro-to-scripting.md
  content/en-us/tutorials/scripting/basic-scripting/scoring-points.md
  content/en-us/tutorials/scripting/input-and-camera/detecting-user-input.md
  content/en-us/ui/layout-and-appearance.md
Labels: changes requested, education, engine guides, resources, tutorials

#36 Add indents in emotes.md
  content/en-us/characters/emotes.md
Labels: engine guides

#43 Fixes typos and example code errors & improves clarity of certain phrases
  content/en-us/animation/capture.md
  content/en-us/animation/editor.md
  content/en-us/animation/events.md
  content/en-us/animation/index.md
  content/en-us/animation/using.md
  content/en-us/art/accessories/accessory-fitting-tool.md
  content/en-us/art/accessories/automatic-skinning-transfer.md
  content/en-us/art/accessories/classic-clothing.md
  content/en-us/art/accessories/creating-in-blender.md
  content/en-us/art/accessories/index.md
  content/en-us/art/accessories/layered-clothing.md
  content/en-us/art/accessories/project-files.md
  content/en-us/art/accessories/specifications.md
  content/en-us/art/accessories/validation-tool.md
  content/en-us/art/avatar/creating/caging.md
  content/en-us/art/avatar/creating/cleanup.md
  content/en-us/art/avatar/creating/exporting.md
  content/en-us/art/avatar/creating/modeling.md
  content/en-us/art/avatar/creating/texturing.md
  content/en-us/art/avatar/exporting-avatar-animations-from-maya.md
  content/en-us/art/avatar/facial-animation/animating-heads.md
  content/en-us/art/avatar/facial-animation/creating-basic-heads.md
  content/en-us/art/avatar/facial-animation/creating-face-accessories.md
  content/en-us/art/avatar/facial-animation/facs-poses-reference.md
  content/en-us/art/avatar/facial-animation/index.md
  content/en-us/art/avatar/facial-animation/moods.md
  content/en-us/art/avatar/facial-animation/using-heads-in-studio.md
  content/en-us/art/avatar/index.md
  content/en-us/art/avatar/project-files.md
  content/en-us/art/avatar/testing/blender.md
  content/en-us/art/avatar/testing/index.md
  content/en-us/art/avatar/testing/studio.md
  content/en-us/art/avatar/validation-tool.md
Labels: art, changes requested, engine guides

#38 Fix indents in Players
  content/en-us/players/avatar-context-menu.md
  content/en-us/players/avatar-editor.md
  content/en-us/players/avatar-inspect-menu.md
  content/en-us/players/tools.md
Labels: changes requested, engine guides

#47 Change game.Players to game:GetService("Players")
  content/en-us/characters/appearance.md
  content/en-us/education/adventure-game-series/code-the-leaderboard.md
  content/en-us/education/adventure-game-series/selling-items.md
  content/en-us/input/gamepad.md
  content/en-us/production/analytics/third-party-analytics.md
  content/en-us/resources/the-mystery-of-duvall-drive/developing-a-moving-world.md
  content/en-us/tutorials/fundamentals/coding-3/giving-points.md
  content/en-us/workspace/streaming.md
Labels: changes requested, education, engine guides, resources, tutorials

#49 Update STYLE.md
  STYLE.md
Labels: tools

#50 Update STYLE.md
  STYLE.md
Labels: tools

#52 Fix code in tools.md
  content/en-us/players/tools.md
Labels: engine guides

#55 Add Syntax Highlighting in tools.md
  content/en-us/players/tools.md
Labels: engine guides

#29 Text chat wordsmithing
  content/en-us/chat/in-experience-text-chat.md
Labels: engine guides

#56 Minor Grammar fix
  content/en-us/production/monetization/index.md
Labels: engine guides

#57 Small Grammar fix for analytics-dashboard.md
  content/en-us/production/analytics/analytics-dashboard.md
Labels: engine guides

#75 Fix Links in lighting.md
  content/en-us/environment/lighting.md
Labels: engine guides

#69 Add auto-linking to mobile.md
  content/en-us/input/mobile.md
Labels: engine guides

#63 Small fix for intro-to-if-statements.md
  content/en-us/tutorials/fundamentals/coding-3/intro-to-if-statements.md
Labels: tutorials

#60 Grammar fixes for using-parameters-and-events.md
  content/en-us/tutorials/fundamentals/coding-2/using-parameters-and-events.md
Labels: tutorials

#61 Grammar fixes for parameters-practice-buttons.md
  content/en-us/tutorials/fundamentals/coding-2/parameters-practice-buttons.md
Labels: tutorials

#59 Minor grammar fixes for coding-a-function.md
  content/en-us/tutorials/fundamentals/coding-2/coding-a-function.md
Labels: tutorials

#64 Grammar fix in multiple-conditions.md
  content/en-us/tutorials/fundamentals/coding-3/multiple-conditions.md
Labels: tutorials

#62 Minor grammar fix for multiple-parameters-and-arguments.md
  content/en-us/tutorials/fundamentals/coding-2/multiple-parameters-and-arguments.md
Labels: tutorials

#66 Grammar fixes for repeating-code-with-while-loops.md
  content/en-us/tutorials/fundamentals/coding-4/repeating-code-with-while-loops.md
Labels: tutorials

#77 Improve Loop Examples and Correct Mistakes
  content/en-us/tutorials/fundamentals/coding-4/repeating-code-with-while-loops.md
Labels: tutorials

#54 Replace game.ReplicatedStorage with game:GetService("ReplicatedStorage")
  content/en-us/resources/beyond-the-dark/user-interface.md
  content/en-us/scripting/scripts.md
Labels: engine guides, resources

#72 Replace game.ServerScriptService with game:GetService("ServerScriptService")
  content/en-us/scripting/scripts.md
Labels: engine guides

#34 Update metatables.md
  content/en-us/luau/metatables.md
Labels: engine guides

#73 Remove invalid syntax highlighting in battle-royale
  content/en-us/resources/battle-royale/core-scripts.md
  content/en-us/resources/battle-royale/pickup-system.md
Labels: resources

#53 Replace game.Lighting with game:GetService("Lighting")
  content/en-us/luau/type-coercion.md
  content/en-us/players/tools.md
Labels: engine guides

#68 Replace game.ReplicatedFirst with game:GetService("ReplicatedFirst")
  content/en-us/scripting/scripts.md
Labels: engine guides

#67 Replace game.Debris with game:GetService("Debris")
  content/en-us/tutorials/scripting/intermediate-scripting/hit-detection-with-lasers.md
Labels: tutorials

#58 Sentence/ minor consistency fix for creating-a-script.md
  content/en-us/tutorials/fundamentals/coding-1/creating-a-script.md
Labels: tutorials

#80 fix: html in /luau/metatables.md
  content/en-us/luau/metatables.md
Labels: engine guides

#51 Replace game.Workspace with workspace
  content/en-us/characters/appearance.md
  content/en-us/chat/legacy/legacy-chat-system.md
  content/en-us/luau/enums.md
  content/en-us/tutorials/building/animation/scripting-avatar-animations.md
  content/en-us/tutorials/building/environments/in-game-sounds.md
  content/en-us/tutorials/fundamentals/coding-2/multiple-parameters-and-arguments.md
  content/en-us/tutorials/fundamentals/coding-2/parameters-practice-buttons.md
  content/en-us/tutorials/fundamentals/coding-4/creating-a-timed-bridge.md
  content/en-us/tutorials/fundamentals/coding-4/repeating-code-with-while-loops.md
  content/en-us/ui/text-filtering.md
  content/en-us/workspace/cframes.md
Labels: engine guides, tutorials

#79 adhoc Tutorial Improvements
  content/en-us/tutorials/core/scripting/script-an-upgrade-button.md
Labels: tutorials

#74 Fix indenting in installation-and-setup.md
  content/en-us/resources/battle-royale/installation-and-setup.md
Labels: resources

#71 Fix Indenting in adding-scripts.md
  content/en-us/education/build-it-play-it-mansion-of-wonder/adding-scripts.md
Labels: education

#42 Updated Face Capture on capture.md
  content/en-us/animation/capture.md
  content/en-us/assets/animation/face-recorder/Face-Recorder-Beta-Feature.jpg
  content/en-us/assets/animation/face-recorder/Face-Recorder-Button.jpg
Labels: assets, engine guides
