Repository Roblox/creator-docs, pull requests merged in 2023-09, with the labels that each got.

#86 Fix typos in scripts.md
  content/en-us/scripting/scripts.md
Labels: engine guides

#88 Correct the maximum ray magnitude text
  content/en-us/workspace/raycasting.md
Labels: engine guides

#82 Add auto-links to datastores.md
  content/en-us/cloud-services/datastores.md
Labels: engine guides

#89 Fix typo in cross-platform-design.md
  content/en-us/ui/cross-platform-design.md
Labels: engine guides

#83 Fix auto-linking in player-data-purchasing.md
  content/en-us/scripting/data/player-data-purchasing.md
Labels: engine guides

#84 Add auto-link to ending-matches.md
  content/en-us/education/battle-royale-series/ending-matches.md
Labels: education

#87 Remove auto-link in finishing-the-project.md
  content/en-us/education/battle-royale-series/finishing-the-project.md
Labels: education

#85 Fix auto-links in texture-decals.md
  content/en-us/parts/textures-decals.md
Labels: engine guides

#76 Add credit links
  content/en-us/production/game-design/content-updates.md
  content/en-us/production/game-design/introduction-to-quest-design.md
  content/en-us/production/game-design/monetization-foundations.md
  content/en-us/production/game-design/onboarding.md
  content/en-us/production/game-design/season-pass-design.md
  content/en-us/production/game-design/ui-ux-design.md
Labels: changes requested, design

#45 Bump the memory requirements to 4GB from 2GB
  content/en-us/studio/setting-up-roblox-studio.md
Labels: studio

#90 Fix auto-link in cross-server-messaging.md
  content/en-us/cloud-services/cross-server-messaging.md
Labels: engine guides

#91 Add auto-links to player-data-purchasing.md
  content/en-us/scripting/data/player-data-purchasing.md
Labels: engine guides

#94 Add auto-link to datastores.md
  content/en-us/cloud-services/datastores.md
Labels: engine guides

#100 Add auto-link to invite-prompts.md
  content/en-us/production/promotion/invite-prompts.md
Labels: engine guides

#99 Add auto-link to merch-booth.md
  content/en-us/resources/modules/merch-booth.md
Labels: resources

#98 Add auto-links to memory-stores
  content/en-us/cloud-services/memory-stores/queue.md
  content/en-us/cloud-services/memory-stores/sorted-map.md
Labels: engine guides

#97 Add auto-links to teleporting.md
  content/en-us/projects/teleporting.md
Labels: engine guides

#96 Add auto-link to localizing-with-scripting.md
  content/en-us/production/localization/localizing-with-scripting.md
Labels: engine guides

#92 Add auto-links to text-filtering.md
  content/en-us/ui/text-filtering.md
Labels: engine guides

#40 Add an example which allows numericals only in a textbox.
  content/en-us/ui/text.md
Labels: engine guides

#116 Fix auto-links in record-and-display-player-data.md
  content/en-us/tutorials/core/scripting/record-and-display-player-data.md
Labels: tutorials

#115 Fix auto-link in account-verification.md
  content/en-us/production/publishing/account-verification.md
Labels: engine guides

#113 Fix auto-links in data-model.md
  content/en-us/projects/data-model.md
Labels: engine guides

#112 Add auto-links to intro-to-module-scripts.md
  content/en-us/tutorials/fundamentals/coding-6/intro-to-module-scripts.md
Labels: tutorials

#106 Update detecting-user-input.md to have more consistent wording
  content/en-us/tutorials/scripting/input-and-camera/detecting-user-input.md
Labels: tutorials

#110 Add auto-links to services.md
  content/en-us/scripting/services.md
Labels: engine guides

#107 Fix auto-links and typos in coding-1
  content/en-us/tutorials/fundamentals/coding-1/creating-a-script.md
  content/en-us/tutorials/fundamentals/coding-1/object-properties.md
Labels: tutorials

#108 Add auto-links to scripts.md
  content/en-us/scripting/scripts.md
Labels: engine guides

#104 User base article clarifications
  content/en-us/production/roblox-user-base.md
Labels: engine guides

#105 Fix auto-links and a typo in task-scheduler.md
  content/en-us/studio/microprofiler/task-scheduler.md
Labels: studio

#103 Fix auto-links in inverse-kinematics.md
  content/en-us/animation/inverse-kinematics.md
Labels: engine guides

#102 Add auto-links to scoring-points.md
  content/en-us/tutorials/scripting/basic-scripting/scoring-points.md
Labels: tutorials

#101 Add auto-links to event-sequencer.md
  content/en-us/resources/modules/event-sequencer.md
Labels: resources

#117 Fix MD check failures
  content/en-us/tutorials/fundamentals/coding-1/creating-a-script.md
  content/en-us/ui/text.md
Labels: engine guides, tutorials

#95 Add String Interpolation to documentation
  content/en-us/luau/strings.md
Labels: changes requested, engine guides

#119 Fix new line end
  content/en-us/luau/strings.md
Labels: engine guides

#118 #nojira Coding Fundamentals edits
  content/en-us/tutorials/fundamentals/coding-1/coding-fundamentals.md
Labels: documentation, tutorials

#109 Fix auto-links in scheduler.md
  content/en-us/scripting/scheduler.md
Labels: engine guides

#120 Added info to StarterGui and changed possessive API naming
  content/en-us/ui/on-screen-containers.md
Labels: engine guides

#70 Fixed grammatical errors and changed certain words/phrases for clarity & consistency
  content/en-us/art/marketplace/custom-thumbnails.md
  content/en-us/art/marketplace/intellectual-property.md
  content/en-us/art/marketplace/marketplace-policy.md
  content/en-us/art/marketplace/publishing-to-marketplace.md
  content/en-us/art/modeling/3d-importer.md
  content/en-us/art/modeling/calisthenics-tool.md
  content/en-us/art/modeling/export-requirements.md
  content/en-us/art/modeling/index.md
  content/en-us/art/modeling/material-reference.md
  content/en-us/art/modeling/project-files.md
  content/en-us/art/modeling/rigging-a-humanoid-model.md
  content/en-us/art/modeling/rigging-a-simple-mesh.md
  content/en-us/art/modeling/rigging.md
  content/en-us/art/modeling/skinning-a-humanoid-model.md
  content/en-us/art/modeling/skinning-a-simple-mesh.md
  content/en-us/art/modeling/skinning.md
  content/en-us/art/modeling/specifications.md
  content/en-us/art/modeling/surface-appearance.md
Labels: art

#121 Add Font datatype to attributes supported list
  content/en-us/studio/instance-attributes.md
Labels: studio

#78 Convert lines to compound operators
  content/en-us/education/adventure-game-series/buying-upgrades.md
  content/en-us/education/adventure-game-series/collect-items.md
  content/en-us/education/adventure-game-series/selling-items.md
  content/en-us/education/build-it-play-it-island-of-move/animating-parts.md
  content/en-us/education/resources/coding-concept-algorithms.md
  content/en-us/luau/luau-csharp-comparison.md
  content/en-us/luau/metatables.md
  content/en-us/players/index.md
  content/en-us/players/leaderboards.md
  content/en-us/production/monetization/developer-products.md
  content/en-us/resources/plant-reference-project.md
  content/en-us/resources/the-mystery-of-duvall-drive/developing-a-moving-world.md
  content/en-us/scripting/debounce.md
  content/en-us/ui/animation.md
Labels: changes requested, education, engine guides, resources

#122 Misspellings
  content/en-us/cloud-services/cross-server-messaging.md
  content/en-us/education/battle-royale-series/finishing-the-project.md
  content/en-us/scripting/data/player-data-purchasing.md
  content/en-us/studio/microprofiler/tag-table.md
  content/en-us/tutorials/fundamentals/coding-6/intro-to-module-scripts.md
Labels: education, engine guides, studio, tutorials

#124 Memory Store grammar fixes
  content/en-us/cloud-services/memory-stores/index.md
Labels: engine guides

#125 Add a space to developer-products.md
  content/en-us/production/monetization/developer-products.md
Labels: engine guides

#144 Add missing end statements to pathfinding.md
  content/en-us/characters/pathfinding.md
Labels: engine guides

#143 Add formatting and pause button callout to microprofiler\index.md
  content/en-us/studio/microprofiler/index.md
Labels: studio

#127 Fix links in objects.md
  content/en-us/sound/objects.md
Labels: engine guides

#126 Add auto-links to r6-to-r15-adapter.md
  content/en-us/characters/r6-to-r15-adapter.md
Labels: engine guides

#146 Update creating-a-script.md line 169
  content/en-us/tutorials/fundamentals/coding-1/creating-a-script.md
Labels: tutorials

#93 Nesting brackets inside block comments and strings
  content/en-us/luau/comments.md
  content/en-us/luau/strings.md
Labels: engine guides

#148 Update construct-your-world.md
  content/en-us/tutorials/environmental-art/construct-your-world.md
Labels: tutorials

#152 Add missing end statement to pathfinding.md
  content/en-us/characters/pathfinding.md
Labels: engine guides

#130 Improve streaming detection example
  content/en-us/workspace/streaming.md
Labels: engine guides

#155 Experience Guidelines Fix
  content/en-us/production/promotion/experience-guidelines.md
Labels: engine guides

#156 Fix workspace typos and improve loops
  content/en-us/characters/appearance.md
  content/en-us/education/resources/coding-concept-algorithms.md
  content/en-us/tutorials/fundamentals/coding-6/coding-concept-algorithms.md
Labels: education, engine guides, tutorials

#154 Remove unneeded )
  content/en-us/workspace/streaming.md
Labels: engine guides

#140 Fix auto-links in animation.md
  content/en-us/ui/animation.md
Labels: engine guides

#132 Add auto-links and fix grammar in building-system.md
  content/en-us/resources/battle-royale/building-system.md
Labels: resources

#133 Add auto-links to controlling-the-users-camera.md
  content/en-us/tutorials/scripting/input-and-camera/controlling-the-users-camera.md
Labels: tutorials

#134 Fix auto-links in creating-a-health-pickup.md
  content/en-us/tutorials/scripting/intermediate-scripting/creating-a-health-pickup.md
Labels: tutorials

#135 Add auto-links to intro-to-scripting.md
  content/en-us/tutorials/scripting/basic-scripting/intro-to-scripting.md
Labels: tutorials

#136 Add auto-links to deadly-lava.md
  content/en-us/tutorials/scripting/basic-scripting/deadly-lava.md
Labels: tutorials

#137 Fix auto-links in scoring-points.md
  content/en-us/tutorials/scripting/basic-scripting/scoring-points.md
Labels: tutorials

#141 Add auto-links to laser-traps-with-beams.md
  content/en-us/tutorials/building/effects/laser-traps-with-beams.md
Labels: tutorials, stale

#123 Fixed typos/errors in example code & improved wording for clarity
  content/en-us/characters/appearance.md
  content/en-us/characters/index.md
  content/en-us/characters/name-health-display.md
  content/en-us/characters/pathfinding.md
  content/en-us/characters/r6-to-r15-adapter.md
Labels: engine guides

#163 Fix grammar and formatting in code-the-leaderboard.md
  content/en-us/education/adventure-game-series/code-the-leaderboard.md
Labels: education

#81 Add Generalized Iteration to control-structures
  content/en-us/luau/control-structures.md
Labels: changes requested, engine guides

#168 Fix formatting in code-the-leaderboard.md
  content/en-us/education/adventure-game-series/code-the-leaderboard.md
Labels: education

#8 security-tactics improvements and additions
  content/en-us/scripting/security/security-tactics.md
Labels: changes requested, engine guides

#158 Add leaderstat ordering info
  content/en-us/players/leaderboards.md
Labels: changes requested, engine guides

#170 Update guidance around auto-links
  STYLE.md
Labels: tools

#129 Arrays Intro: Fix grammar issues and use TextChatService
  content/en-us/tutorials/fundamentals/coding-5/intro-to-arrays.md
  content/en-us/tutorials/fundamentals/coding-5/landing.md
Labels: tutorials

#172 Fix typo
  content/en-us/production/publishing/index.md
Labels: engine guides
