Repository Roblox/creator-docs, pull requests merged in 2023-11, with the labels that each got.

#212 Update assemblies.md
  content/en-us/physics/assemblies.md
Labels: engine guides

#214 Format code in memory.md
  content/en-us/projects/performance-optimization/memory.md
Labels: engine guides

#216 simplify wording in debounce.md
  content/en-us/scripting/debounce.md
Labels: engine guides

#217 fix: repeated "on" in PlayerGui
  content/en-us/reference/engine/classes/PluginGui.yaml
Labels: engine reference

#35 Luau gradual typing documentation
  content/common/navigation/engine/guides.yaml
  content/en-us/luau/type-checking.md
Labels: changes requested, engine guides, navigation

#218 Remove coming soon note from README
  README.md
Labels: tools

#213 Improve formatting in invite-prompts.md
  content/en-us/production/promotion/invite-prompts.md
Labels: engine guides

#220 Improve code in in-experience-asset-creation.md
  content/en-us/projects/assets/in-experience-asset-creation.md
Labels: engine guides

#232 Improve code in type-checking.md
  content/en-us/luau/type-checking.md
Labels: engine guides

#233 Fix auto-link in drag-detectors.md
  content/en-us/ui/drag-detectors.md
Labels: engine guides

#231 Updates to multiple documentation files.
  content/en-us/tutorials/building/effects/basic-particle-effects.md
  content/en-us/tutorials/building/effects/custom-particle-effects.md
  content/en-us/tutorials/scripting/basic-scripting/intro-to-scripting.md
  content/en-us/workspace/raycasting.md
Labels: changes requested, engine guides, tutorials

#224 Improve code and grammar in Player.yaml
  content/en-us/reference/engine/classes/Player.yaml
Labels: engine reference

#238 Update TriangleMeshPart.yaml
  content/en-us/reference/engine/classes/TriangleMeshPart.yaml
Labels: engine reference

#239 Update datastores.md
  content/en-us/cloud-services/datastores.md
Labels: changes requested, engine guides

#241 Fixed typo in PluginAction.yaml
  content/en-us/reference/engine/classes/PluginAction.yaml
Labels: engine reference

#251 Update PhysicalProperties.yaml
  content/en-us/reference/engine/datatypes/PhysicalProperties.yaml
Labels: engine reference

#221 Improve code in events.md
  content/en-us/animation/events.md
Labels: engine guides

#253 Add code sample for AudioEqualizer
  content/en-us/reference/engine/classes/AudioEqualizer.yaml
Labels: engine reference

#222 Improve code in using.md
  content/en-us/animation/using.md
Labels: engine guides

#257 Update custom.md
  content/en-us/scripting/events/custom.md
Labels: engine guides

#228 Improve code in developer-products.md
  content/en-us/production/monetization/developer-products.md
Labels: engine guides

#264 Remove reference to FilteringEnabled in `TouchTransmitter.yml`
  content/en-us/reference/engine/classes/TouchTransmitter.yaml
Labels: engine reference

#249 Fix method name for automatic network ownership on BasePart
  content/en-us/physics/network-ownership.md
Labels: engine guides

#263 Add deprecation message for ModalEnabled
  content/en-us/reference/engine/classes/UserInputService.yaml
Labels: engine reference

#266 Update strings.md
  content/en-us/luau/strings.md
Labels: documentation, engine guides

#186 Replace MouseButton1Click with Activated
  content/en-us/ui/text-filtering.md
Labels: engine guides

#229 Improve readability and fix auto-link in Model.yaml
  content/en-us/reference/engine/classes/Model.yaml
Labels: engine reference

#242 Use CFrame.lookAt
  content/en-us/reference/engine/classes/Camera.yaml
Labels: changes requested, engine reference

#255 Update STYLE.md
  STYLE.md
Labels: tools

#270 Typo in ForceField.yaml
  content/en-us/reference/engine/classes/ForceField.yaml
Labels: engine reference

#247 Update PhysicalProperties.yaml
  content/en-us/reference/engine/datatypes/PhysicalProperties.yaml
Labels: engine reference

#260 Updated VR comfort settings documentation
  content/en-us/production/publishing/vr-guidelines.md
Labels: changes requested, engine guides

#248 Fix type of Values field in GetEntries dictionary.
  content/en-us/reference/engine/classes/LocalizationTable.yaml
Labels: engine reference

#278 add correction to KeypadDivide member of the KeyCode enum
  content/en-us/reference/engine/enums/KeyCode.yaml
Labels: engine reference

#277 Multiple typo corrections in Engine Classes
  content/en-us/reference/engine/classes/AirController.yaml
  content/en-us/reference/engine/classes/Animator.yaml
  content/en-us/reference/engine/classes/AudioAnalyzer.yaml
  content/en-us/reference/engine/classes/Beam.yaml
  content/en-us/reference/engine/classes/BillboardGui.yaml
  content/en-us/reference/engine/classes/BodyVelocity.yaml
  content/en-us/reference/engine/classes/Camera.yaml
  content/en-us/reference/engine/classes/ChangeHistoryService.yaml
  content/en-us/reference/engine/classes/CustomEvent.yaml
  content/en-us/reference/engine/classes/CustomEventReceiver.yaml
  content/en-us/reference/engine/classes/Dialog.yaml
  content/en-us/reference/engine/classes/DistortionSoundEffect.yaml
  content/en-us/reference/engine/classes/DragDetector.yaml
  content/en-us/reference/engine/classes/ForceField.yaml
  content/en-us/reference/engine/classes/GroundController.yaml
  content/en-us/reference/engine/classes/GuiObject.yaml
  content/en-us/reference/engine/classes/GuiService.yaml
  content/en-us/reference/engine/classes/HandleAdornment.yaml
  content/en-us/reference/engine/classes/HumanoidDescription.yaml
  content/en-us/reference/engine/classes/InsertService.yaml
  content/en-us/reference/engine/classes/Instance.yaml
  content/en-us/reference/engine/classes/Lighting.yaml
  content/en-us/reference/engine/classes/LinearVelocity.yaml
  content/en-us/reference/engine/classes/LocalizationService.yaml
  content/en-us/reference/engine/classes/LocalizationTable.yaml
  content/en-us/reference/engine/classes/MarketplaceService.yaml
  content/en-us/reference/engine/classes/Model.yaml
  content/en-us/reference/engine/classes/ParticleEmitter.yaml
  content/en-us/reference/engine/classes/PathfindingService.yaml
  content/en-us/reference/engine/classes/ProximityPrompt.yaml
  content/en-us/reference/engine/classes/RotateP.yaml
  content/en-us/reference/engine/classes/Skin.yaml
  content/en-us/reference/engine/classes/Sound.yaml
  content/en-us/reference/engine/classes/SoundEffect.yaml
  content/en-us/reference/engine/classes/SoundService.yaml
  content/en-us/reference/engine/classes/StarterGui.yaml
  content/en-us/reference/engine/classes/TerrainDetail.yaml
  content/en-us/reference/engine/classes/Texture.yaml
  content/en-us/reference/engine/classes/Trail.yaml
  content/en-us/reference/engine/classes/UIGridStyleLayout.yaml
  content/en-us/reference/engine/classes/UserInputService.yaml
  content/en-us/reference/engine/classes/WorldRoot.yaml
Labels: changes requested, engine reference

#276 Improve code in TextButton.yaml
  content/en-us/reference/engine/classes/TextButton.yaml
Labels: engine reference

#271 Update SocialService.yaml
  content/en-us/reference/engine/classes/SocialService.yaml
Labels: engine reference

#275 Improve code in TextBox.yaml
  content/en-us/reference/engine/classes/TextBox.yaml
Labels: engine reference

#272 Fix auto-links in AnimationTrack.yaml
  content/en-us/reference/engine/classes/AnimationTrack.yaml
Labels: engine reference

#274 Improve code in TextLabel.yaml
  content/en-us/reference/engine/classes/TextLabel.yaml
Labels: engine reference

#273 Fix auto-link in AirController.yaml
  content/en-us/reference/engine/classes/AirController.yaml
Labels: engine reference

#230 Clarify that product functions must return true in developer-products.md
  content/en-us/production/monetization/developer-products.md
Labels: engine guides

#243 Add missing documentation for PluginToolbarButton members
  content/en-us/reference/engine/classes/PluginToolbarButton.yaml
Labels: engine reference

#288 Grammatical errors
  content/en-us/reference/engine/classes/SoundService.yaml
Labels: engine reference

#285 Update UIAspectRatioConstraint.yaml
  content/en-us/reference/engine/classes/UIAspectRatioConstraint.yaml
Labels: engine reference

#286 PromptProductPurchaseFinished is no longer deprecated
  content/en-us/reference/engine/classes/MarketplaceService.yaml
Labels: engine reference

#291 Update beta-testing-experiences.md
  content/en-us/education/developer/beta-testing-experiences.md
Labels: education

#298 pitch shift
  content/en-us/reference/engine/classes/PitchShiftSoundEffect.yaml
Labels: engine reference

#240 refactor: organize projects/managing.md
  content/en-us/projects/managing.md
Labels: engine guides

#300 Add summaries to SoundEffect classes
  content/en-us/reference/engine/classes/ChorusSoundEffect.yaml
  content/en-us/reference/engine/classes/CompressorSoundEffect.yaml
  content/en-us/reference/engine/classes/DistortionSoundEffect.yaml
  content/en-us/reference/engine/classes/EchoSoundEffect.yaml
  content/en-us/reference/engine/classes/EqualizerSoundEffect.yaml
  content/en-us/reference/engine/classes/FlangeSoundEffect.yaml
  content/en-us/reference/engine/classes/PitchShiftSoundEffect.yaml
  content/en-us/reference/engine/classes/ReverbSoundEffect.yaml
Labels: engine reference

#292 Add documentation for ListenerType
  content/en-us/reference/engine/enums/ListenerType.yaml
Labels: engine reference

#311 Update MarketplaceService.yaml
  content/en-us/reference/engine/classes/MarketplaceService.yaml
Labels: engine reference

#315 Update GuiObject.yaml
  content/en-us/reference/engine/classes/GuiObject.yaml
Labels: engine reference

#246 Changes WeldConstraint to RigidConstraint in Weld.yaml
  content/en-us/reference/engine/classes/Weld.yaml
Labels: engine reference, stale

#252 Fixed GetValueAtTime returns type
  content/en-us/reference/engine/classes/Vector3Curve.yaml
Labels: engine reference

#256 Incorrect data in AvatarEditorService:GetInventory return example fix
  content/en-us/reference/engine/classes/AvatarEditorService.yaml
Labels: engine reference
