Repository Roblox/creator-docs, pull requests merged in 2023-12, with the labels that each got.

#303 Update LuaGlobals.yaml
  content/en-us/reference/engine/globals/LuaGlobals.yaml
Labels: engine reference

#302 Add task.wait() auto-links and replace "wait"
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
  content/en-us/reference/engine/classes/GlobalDataStore.yaml
  content/en-us/reference/engine/classes/Lighting.yaml
  content/en-us/reference/engine/classes/ModuleScript.yaml
  content/en-us/reference/engine/classes/StarterGui.yaml
  content/en-us/reference/engine/classes/Workspace.yaml
  content/en-us/reference/engine/enums/RotationOrder.yaml
  content/en-us/tutorials/fundamentals/coding-2/coding-a-function.md
  content/en-us/tutorials/fundamentals/coding-3/giving-points.md
  content/en-us/tutorials/fundamentals/coding-5/loops-and-arrays.md
  content/en-us/tutorials/scripting/basic-scripting/fading-trap.md
Labels: education, engine reference, tutorials

#282 Improve code in BillboardGui.yaml
  content/en-us/reference/engine/classes/BillboardGui.yaml
Labels: engine reference

#261 Update documentation for bundleType enum
  content/en-us/reference/engine/enums/BundleType.yaml
Labels: engine reference, stale

#259 Bulk move to argument clarification
  content/en-us/reference/engine/classes/WorldRoot.yaml
Labels: changes requested, engine reference

#268 Fixed Guide Links, Added More Info on Enums, Removed "$DESCRIPTION_SHORT"
  content/en-us/reference/engine/classes/Chat.yaml
  content/en-us/reference/engine/classes/GamePassService.yaml
  content/en-us/reference/engine/classes/UIGridStyleLayout.yaml
  content/en-us/reference/engine/enums/InputType.yaml
  content/en-us/reference/engine/enums/SaveFilter.yaml
  content/en-us/reference/engine/enums/ScaleType.yaml
  content/en-us/reference/engine/enums/Status.yaml
  content/en-us/reference/engine/libraries/debug.yaml
  tools/checks/utils/allowedHttpLinks.txt
Labels: changes requested, engine reference, tools

#289 lua-to-luau
  content/en-us/tutorials/scripting/basic-scripting/intro-to-scripting.md
Labels: tutorials

#265 UDim2 constructors missing `:?` in the arguments
  content/en-us/reference/engine/datatypes/UDim2.yaml
Labels: changes requested, engine reference

#301 Clarify behavior of GlobalDataStore.UpdateAsync.
  content/en-us/reference/engine/classes/GlobalDataStore.yaml
Labels: engine reference

#304 VRTiltAndRollEnabled summary & description
  content/en-us/reference/engine/classes/Camera.yaml
Labels: engine reference

#306 Newer API Usage
  content/en-us/education/build-it-play-it-island-of-move/animating-parts.md
  content/en-us/luau/control-structures.md
  content/en-us/luau/scope.md
  content/en-us/reference/engine/classes/Instance.yaml
  content/en-us/reference/engine/classes/StarterGui.yaml
  content/en-us/reference/engine/classes/Workspace.yaml
  content/en-us/resources/the-mystery-of-duvall-drive/developing-a-moving-world.md
  content/en-us/studio/building-studio-widgets.md
  content/en-us/tutorials/fundamentals/coding-3/giving-points.md
  content/en-us/tutorials/fundamentals/coding-3/powerups-with-if-statements.md
  content/en-us/tutorials/scripting/basic-scripting/scoring-points.md
  content/en-us/workspace/raycasting.md
Labels: education, engine guides, engine reference, resources, studio, tutorials

#269 Specify link replacement scheme.
  README.md
Labels: tools

#307 Shorten game.Workspace to workspace
  content/en-us/reference/engine/classes/Dialog.yaml
  content/en-us/reference/engine/classes/Instance.yaml
  content/en-us/reference/engine/classes/WeldConstraint.yaml
  content/en-us/reference/engine/enums/InputType.yaml
Labels: engine reference

#320 Apply a minor update to remote.md
  content/en-us/scripting/events/remote.md
Labels: engine guides

#236 Rework to bit32 library
  content/en-us/assets/engine-api/libraries/bit32/32bit_restriction.png
  content/en-us/assets/engine-api/libraries/bit32/band.png
  content/en-us/assets/engine-api/libraries/bit32/bnot.png
  content/en-us/assets/engine-api/libraries/bit32/bor.png
  content/en-us/assets/engine-api/libraries/bit32/bxor.png
  content/en-us/assets/engine-api/libraries/bit32/lsh.png
  content/en-us/assets/engine-api/libraries/bit32/rsh.png
  content/en-us/reference/engine/libraries/bit32.yaml
Labels: assets, engine reference

#322 General Iteration
  content/en-us/characters/appearance.md
  content/en-us/chat/in-experience-text-chat.md
  content/en-us/chat/legacy/admin-commands.md
  content/en-us/cloud-services/datastores.md
  content/en-us/cloud-services/memory-stores/sorted-map.md
  content/en-us/education/battle-royale-series/creating-a-gui.md
  content/en-us/education/battle-royale-series/ending-matches.md
  content/en-us/education/battle-royale-series/managing-players.md
  content/en-us/luau/enums.md
  content/en-us/luau/functions.md
  content/en-us/luau/metatables.md
  content/en-us/luau/scope.md
  content/en-us/luau/tables.md
  content/en-us/production/publishing/account-verification.md
  content/en-us/reference/engine/classes/BaseWrap.yaml
  content/en-us/reference/engine/classes/HumanoidDescription.yaml
  content/en-us/reference/engine/classes/Instance.yaml
  content/en-us/reference/engine/classes/Players.yaml
  content/en-us/reference/engine/classes/StarterGui.yaml
  content/en-us/reference/engine/classes/StudioService.yaml
  content/en-us/reference/engine/datatypes/CatalogSearchParams.yaml
  content/en-us/resources/beyond-the-dark/custom-characters.md
  content/en-us/resources/modules/photo-booth.md
  content/en-us/resources/modules/scavenger-hunt.md
  content/en-us/resources/modules/spawn-with-friends.md
  content/en-us/resources/the-mystery-of-duvall-drive/developing-a-moving-world.md
  content/en-us/scripting/events.md
  content/en-us/scripting/events/custom.md
  content/en-us/scripting/scheduler.md
  content/en-us/studio/building-studio-widgets.md
  content/en-us/studio/instance-attributes.md
  content/en-us/studio/plugins.md
  content/en-us/tutorials/core/scripting/create-player-hazards.md
  content/en-us/tutorials/core/scripting/record-and-display-player-data.md
  content/en-us/tutorials/core/scripting/script-game-behavior.md
  content/en-us/tutorials/fundamentals/coding-5/intro-to-dictionaries.md
  content/en-us/tutorials/fundamentals/coding-5/returning-values-from-tables.md
  content/en-us/workspace/collisions.md
Labels: changes requested, education, engine guides, engine reference, resources, studio, tutorials

#325 Update InputObject.yaml
  content/en-us/reference/engine/classes/InputObject.yaml
Labels: engine reference

#203 Expand and correct documentation on data store string sanitisation.
  content/en-us/scripting/security/security-tactics.md
Labels: changes requested, engine guides

#329 Update example to task library.
  content/en-us/education/battle-royale-series/timers-and-events.md
Labels: education

#331 CLI-88769 - Add API documentation for UnreliableRemoteEvents
  content/en-us/reference/engine/classes/UnreliableRemoteEvent.yaml
Labels: changes requested, engine reference

#332 Add notice about FindFirstDescendant being disabled
  content/en-us/reference/engine/classes/Instance.yaml
Labels: engine reference

#330 Add tri/vertex limits to EditableMesh
  content/en-us/reference/engine/classes/EditableMesh.yaml
Labels: engine reference

#333 edits
  CONTRIBUTING.md
  content/en-us/art/characters/project-files.md
  content/en-us/scripting/debounce.md
  content/en-us/tutorials/core/building/create-an-environment-with-terrain.md
  content/en-us/tutorials/core/building/create-basic-visual-effects.md
  content/en-us/tutorials/core/building/customize-global-lighting.md
  content/en-us/tutorials/gameplay-scripting/implementing-blasters.md
  content/en-us/tutorials/gameplay-scripting/spawn-respawn.md
Labels: art, engine guides, tools, tutorials

#334 Fix auto-links and improve code in detecting-hits.md
  content/en-us/tutorials/gameplay-scripting/detecting-hits.md
Labels: tutorials

#335 Update SelectionSphere.yaml
  content/en-us/reference/engine/classes/SelectionSphere.yaml
Labels: engine reference

#328 RunService New Events
  content/en-us/characters/pathfinding.md
  content/en-us/production/publishing/vr-guidelines.md
  content/en-us/projects/performance-optimization/computation.md
  content/en-us/reference/engine/classes/Beam.yaml
  content/en-us/reference/engine/classes/Instance.yaml
  content/en-us/reference/engine/classes/Motor6D.yaml
  content/en-us/reference/engine/classes/RunService.yaml
  content/en-us/resources/beyond-the-dark/custom-characters.md
  content/en-us/studio/microprofiler/index.md
  content/en-us/studio/microprofiler/task-scheduler.md
  content/en-us/tutorials/3D-art/creating-spinning-objects.md
  content/en-us/ui/frames.md
Labels: engine guides, engine reference, resources, studio, tutorials

#337 Update BrickColor.yaml
  content/en-us/reference/engine/datatypes/BrickColor.yaml
Labels: engine reference

#338 Fix snippet formatting in StudioTheme.yaml
  content/en-us/reference/engine/classes/StudioTheme.yaml
Labels: engine reference

#341 Correct description of global unpack's parameters
  content/en-us/reference/engine/globals/LuaGlobals.yaml
Labels: changes requested, engine reference

#342 Fix grammar
  content/en-us/reference/engine/enums/TeleportResult.yaml
Labels: engine reference

#336 Adds Plugin Debugging to plugins.md
  content/en-us/studio/plugins.md
Labels: changes requested, studio

#343 bulk edits
  content/en-us/chat/legacy/admin-commands.md
  content/en-us/chat/legacy/legacy-chat-system.md
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
  content/en-us/education/battle-royale-series/landing.md
  content/en-us/education/battle-royale-series/project-setup.md
  content/en-us/education/battle-royale-series/timers-and-events.md
  content/en-us/education/build-it-play-it-create-and-destroy/icons-and-thumbnails.md
  content/en-us/education/build-it-play-it-island-of-move/designing-poses.md
  content/en-us/education/build-it-play-it-island-of-move/landing.md
  content/en-us/education/build-it-play-it-mansion-of-wonder/connect-the-beam.md
  content/en-us/education/collaboration/collaboration-best-practices.md
  content/en-us/education/developer/beta-testing-experiences.md
  content/en-us/education/resources/coding-concept-algorithms.md
  content/en-us/education/resources/collaboration-best-practices.md
  content/en-us/education/resources/intro-to-digital-safety.md
  content/en-us/luau/type-checking.md
  content/en-us/parts/materials.md
  content/en-us/production/game-design/liveops-essentials.md
  content/en-us/production/game-design/season-pass-design.md
  content/en-us/projects/assets/manager.md
  content/en-us/projects/performance-optimization/memory.md
  content/en-us/scripting/index.md
  content/en-us/tutorials/core/scripting/script-game-behavior.md
  content/en-us/tutorials/environmental-art/assemble-an-asset-library.md
  content/en-us/tutorials/environmental-art/greybox-your-environment.md
  content/en-us/tutorials/fundamentals/coding-3/giving-points.md
  content/en-us/tutorials/fundamentals/coding-6/coding-concept-algorithms.md
Labels: design, education, engine guides, tutorials

#345 Add more ray info
  content/en-us/reference/engine/classes/WorldRoot.yaml
Labels: engine reference

#344 Update terrain generation sample in multithreading.md
  content/en-us/scripting/multithreading.md
Labels: changes requested, engine guides

#346 Fix typo in streaming.md
  content/en-us/workspace/streaming.md
Labels: engine guides

#350 Update video-frames.md
  content/en-us/ui/video-frames.md
Labels: engine guides

#353 Update LuaGlobals.yaml
  content/en-us/reference/engine/globals/LuaGlobals.yaml
Labels: engine reference

#354 Update table.yaml
  content/en-us/reference/engine/libraries/table.yaml
Labels: engine reference

#352 Add summaries to GuiState
  content/en-us/reference/engine/enums/GuiState.yaml
Labels: engine reference
