Repository Roblox/creator-docs, pull requests merged in 2023-10, with the labels that each got.

#169 Add code sample for leaderboard ordering
  content/en-us/players/leaderboards.md
Labels: engine guides

#174 Update balancing-virtual-economies.md with spelling fix
  content/en-us/production/game-design/balancing-virtual-economies.md
Labels: design

#175 Update pathfinding.md warning about streaming
  content/en-us/characters/pathfinding.md
Labels: engine guides

#176 comment-fixes
  content/en-us/tutorials/fundamentals/coding-2/multiple-parameters-and-arguments.md
  content/en-us/tutorials/fundamentals/coding-2/parameters-practice-buttons.md
  content/en-us/tutorials/fundamentals/coding-3/intro-to-if-statements.md
  content/en-us/tutorials/fundamentals/coding-3/multiple-conditions.md
Labels: tutorials

#183 Remove unused variables
  content/en-us/production/localization/localizing-with-scripting.md
Labels: engine guides

#184 Update ui-ux-design.md
  content/en-us/production/game-design/ui-ux-design.md
Labels: design

#182 Improve service usage
  content/en-us/production/publishing/console-guidelines.md
Labels: engine guides

#165 Fix grammar and improve code in adding-animations.md
  content/en-us/education/build-it-play-it-island-of-move/adding-animations.md
Labels: education

#166 Improve code and instructions in selling-items.md
  content/en-us/education/adventure-game-series/selling-items.md
Labels: education

#167 Improve code and formatting in buying-upgrades.md
  content/en-us/education/adventure-game-series/buying-upgrades.md
Labels: education

#192 Improve code in avatar-editor.md
  content/en-us/players/avatar-editor.md
Labels: engine guides

#187 Update instance-attributes.md
  content/en-us/studio/instance-attributes.md
Labels: studio

#185 Update avatar-editor.md
  content/en-us/players/avatar-editor.md
Labels: engine guides

#189 Improve code in merch-booth.md
  content/en-us/resources/modules/merch-booth.md
Labels: resources

#190 Improve code in customizing-loading-screens.md
  content/en-us/ui/customizing-loading-screens.md
Labels: engine guides

#194 Improve code in particle-emitters.md
  content/en-us/effects/particle-emitters.md
Labels: engine guides

#179 Update create-player-hazards.md
  content/en-us/tutorials/core/scripting/create-player-hazards.md
Labels: tutorials

#200 Improve code in developer-products.md
  content/en-us/production/monetization/developer-products.md
Labels: engine guides

#195 Improve code in cleanup-and-reset.md
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
Labels: education

#198 Improve code in adding-scripts.md
  content/en-us/education/build-it-play-it-mansion-of-wonder/adding-scripts.md
Labels: education

#201 Improve code in leaderboards.md
  content/en-us/players/leaderboards.md
Labels: engine guides

#204 Update creating-a-timed-bridge.md
  content/en-us/tutorials/fundamentals/coding-4/creating-a-timed-bridge.md
Labels: changes requested, tutorials

#207 Improve code in laser-traps-with-beams.md
  content/en-us/tutorials/building/effects/laser-traps-with-beams.md
Labels: changes requested, tutorials

#208 Improve code in gamepad.md
  content/en-us/input/gamepad.md
Labels: engine guides

#209 Fix missing character
  content/en-us/projects/performance-optimization/memory.md
Labels: engine guides

#210 Remove duplicate sentence
  content/en-us/studio/avatar-tab.md
Labels: studio
