Repository Roblox/creator-docs, pull requests merged in 2024-09, with the labels that each got.

#802 Clarify puffiness range being between -1 to 1
  content/en-us/reference/engine/classes/WrapLayer.yaml
Labels: engine reference

#810 Remove broken and deprecated reference to DebuggerManager
  content/en-us/reference/engine/globals/RobloxGlobals.yaml
  content/en-us/reference/engine/libraries/debug.yaml
Labels: engine reference

#818 Correct RBXScriptSignal grammar
  content/en-us/reference/engine/datatypes/RBXScriptSignal.yaml
Labels: engine reference

#820 Update voice-chat.md
  content/en-us/chat/voice-chat.md
Labels: engine guides

#819 Update AssetService:SearchAudio method with correct error "got" type
  content/en-us/reference/engine/classes/AssetService.yaml
Labels: engine reference

#812 Descriptions for AdShape
  content/en-us/reference/engine/enums/AdShape.yaml
Labels: engine reference

#825 change AnimationTracks to Class.AnimationTrack
  content/en-us/reference/engine/classes/Animator.yaml
Labels: engine reference

#826 Update functions.md
  content/en-us/luau/functions.md
Labels: engine guides

#836 Update labels.md, fix error text
  content/en-us/ui/labels.md
Labels: engine guides

#839 Fix punctuation in ForceLimitMode.yaml
  content/en-us/reference/engine/enums/ForceLimitMode.yaml
Labels: engine reference

#842 Update Model.yaml to specify `Class.Model.PrimaryPart` as nil by default
  content/en-us/reference/engine/classes/Model.yaml
Labels: changes requested, engine reference

#837 Noted the method doesn't replicate through the server-client boundary
  content/en-us/reference/engine/classes/Humanoid.yaml
Labels: engine reference

#835 Add docs for empty captures in string patterns
  content/en-us/luau/strings.md
Labels: engine guides

#845 Add Secrets to game-settings.md
  content/en-us/studio/game-settings.md
Labels: changes requested, studio

#848 add descriptions for SpectrumEnabled, Bypass, and GetConnectedWires
  content/en-us/reference/engine/classes/AudioAnalyzer.yaml
  content/en-us/reference/engine/classes/AudioChorus.yaml
  content/en-us/reference/engine/classes/AudioCompressor.yaml
  content/en-us/reference/engine/classes/AudioDeviceInput.yaml
  content/en-us/reference/engine/classes/AudioDeviceOutput.yaml
  content/en-us/reference/engine/classes/AudioDistortion.yaml
  content/en-us/reference/engine/classes/AudioEcho.yaml
  content/en-us/reference/engine/classes/AudioEmitter.yaml
  content/en-us/reference/engine/classes/AudioEqualizer.yaml
  content/en-us/reference/engine/classes/AudioFader.yaml
  content/en-us/reference/engine/classes/AudioFilter.yaml
  content/en-us/reference/engine/classes/AudioFlanger.yaml
  content/en-us/reference/engine/classes/AudioListener.yaml
  content/en-us/reference/engine/classes/AudioPitchShifter.yaml
  content/en-us/reference/engine/classes/AudioPlayer.yaml
  content/en-us/reference/engine/classes/AudioReverb.yaml
Labels: engine reference
