Repository Roblox/creator-docs, pull requests merged in 2024-12, with the labels that each got.

#928 Update SpawnerService.yaml
  content/en-us/reference/engine/classes/SpawnerService.yaml
Labels: engine reference

#922 Update allowedHttpLinks.txt
  tools/checks/utils/allowedHttpLinks.txt
Labels: tools

#930 Fixed another brush typo.md
  content/en-us/tutorials/curriculums/core/building/create-an-environment-with-terrain.md
Labels: tutorials

#929 Fixed typo
  content/en-us/tutorials/curriculums/core/building/create-an-environment-with-terrain.md
Labels: tutorials

#931 Remove depreciated globals in task scheduler docs
  content/en-us/studio/microprofiler/task-scheduler.md
Labels: studio

#932 Update Enum.yaml to add FromName and FromValue to docs
  content/en-us/reference/engine/datatypes/Enum.yaml
Labels: changes requested, engine reference

#933 Link AdService to Immersive Ads
  content/en-us/reference/engine/classes/AdService.yaml
Labels: changes requested, engine reference

#938 fix: updates code practices across the board
  content/en-us/chat/bubble-chat.md
  content/en-us/education/build-it-play-it-mansion-of-wonder/adding-scripts.md
  content/en-us/luau/enums.md
  content/en-us/luau/type-coercion.md
  content/en-us/performance-optimization/identifying.md
  content/en-us/reference/engine/classes/Instance.yaml
  content/en-us/reference/engine/classes/WeldConstraint.yaml
  content/en-us/ui/frames.md
Labels: education, engine guides, engine reference

#937 fix: add SmoothDamp documentation
  content/en-us/reference/engine/classes/TweenService.yaml
Labels: engine reference

#936 fix: update Stats.yaml
  content/en-us/reference/engine/classes/Stats.yaml
Labels: engine reference

#940 Update deadly-lava.md
  content/en-us/tutorials/use-case-tutorials/scripting/basic-scripting/deadly-lava.md
Labels: tutorials

#942 Make Enum.Font and DataType.Font reference each other
  content/en-us/reference/engine/datatypes/Font.yaml
  content/en-us/reference/engine/enums/Font.yaml
Labels: engine reference

#944 Add note that xpcall's error handler preserves the trace
  content/en-us/reference/engine/globals/LuaGlobals.yaml
Labels: engine reference

#941 Humanoid.yaml: Remove "Unequip" sentence in :EquipTool description.
  content/en-us/reference/engine/classes/Humanoid.yaml
Labels: engine reference

#946 In creating-a-script.md, the extra s on line 115 was unnecessary
  content/en-us/tutorials/fundamentals/coding-1/creating-a-script.md
Labels: tutorials

#950 TextTruncate example and SplitWord documented
  content/en-us/reference/engine/enums/TextTruncate.yaml
Labels: engine reference
