Repository Roblox/creator-docs, pull requests merged in 2024-04, with the labels that each got.

#490 Update Secret.yaml
  content/en-us/reference/engine/datatypes/Secret.yaml
Labels: engine reference

#491 Update selling-on-the-creator-store.md Seller Onboarding Links
  content/en-us/production/publishing/selling-on-the-creator-store.md
Labels: engine guides

#495 Clarify TryBeginRecording fails in Run/Play mode
  content/en-us/reference/engine/classes/ChangeHistoryService.yaml
Labels: engine reference

#497 Changed mouse.Hit.p to mouse.Hit.Position
  content/en-us/reference/engine/classes/Mouse.yaml
Labels: engine reference

#496 Update creating-with-module-scripts.md
  content/en-us/tutorials/fundamentals/coding-6/creating-with-module-scripts.md
Labels: tutorials

#444 Add summaries & descriptions for CaptureService members
  content/en-us/reference/engine/classes/CaptureService.yaml
Labels: changes requested, engine reference

#500 Add note for Shorelines upgrade
  content/en-us/parts/terrain.md
Labels: engine guides

#485 Fix broken markdown class references
  content/en-us/reference/engine/classes/EulerRotationCurve.yaml
  content/en-us/reference/engine/classes/Explosion.yaml
Labels: engine reference

#501 Update ProximityPromptService.yaml
  content/en-us/reference/engine/classes/ProximityPromptService.yaml
Labels: engine reference

#506 Fix typo in Accessories page
  content/en-us/art/accessories/index.md
Labels: art

#507 Update formatting for the module scripts intro
  content/en-us/tutorials/fundamentals/coding-6/intro-to-module-scripts.md
Labels: tutorials

#508 Update collaboration.md
  content/en-us/projects/collaboration.md
Labels: engine guides

#509 Update guide.md
  content/en-us/assistant/guide.md
Labels: engine guides

#511 Update index.md
  content/en-us/tutorials/first-experience/index.md
Labels: tutorials

#510 Update HumanoidDescription.yaml
  content/en-us/reference/engine/classes/HumanoidDescription.yaml
Labels: engine reference

#515 Update FriendPages.yaml
  content/en-us/reference/engine/classes/FriendPages.yaml
Labels: engine reference

#517 Removed erroneous whitespace in nested-loops.md
  content/en-us/tutorials/fundamentals/coding-4/nested-loops.md
Labels: tutorials

#514 Improvements to Instance.Parent documentation
  content/en-us/reference/engine/classes/Instance.yaml
Labels: engine reference

#520 Fix typos in table.yaml, BodyPartR15.yaml
  content/en-us/reference/engine/enums/BodyPartR15.yaml
  content/en-us/reference/engine/libraries/table.yaml
Labels: engine reference

#524 broken table fixed in ads-manager.md
  content/en-us/production/promotion/ads-manager.md
Labels: engine guides

#523 Update Plugin.yaml
  content/en-us/reference/engine/classes/Plugin.yaml
Labels: engine reference

#527 Update LocalizationService.yaml from Turkey to Republic of Türkiye
  content/en-us/reference/engine/classes/LocalizationService.yaml
Labels: engine reference

#528 Update to Türkiye
  content/en-us/production/promotion/experience-guidelines.md
Labels: engine guides
