Repository Roblox/creator-docs, pull requests merged in 2024-08, with the labels that each got.

#740 Minor typo in data-store-api-handling.md
  content/en-us/cloud/open-cloud/data-store-api-handling.md
Labels: cloud

#744 Update control-structures.md
  content/en-us/luau/control-structures.md
Labels: engine guides

#745 Use DataStore instead of GlobalDataStore in reference
  content/en-us/cloud/open-cloud/usage-data-stores.md
Labels: cloud

#746 Update sorted-map.md
  content/en-us/cloud-services/memory-stores/sorted-map.md
Labels: engine guides

#748 Fix typo: "Lasers Beams" -> "Laser Beams"
  content/en-us/tutorials/building/effects/laser-traps-with-beams.md
Labels: tutorials

#750 Update index.md
  content/en-us/tutorials/first-experience/index.md
Labels: tutorials

#751 Fix Enum.ReverbType item descriptions
  content/en-us/reference/engine/enums/ReverbType.yaml
Labels: engine reference

#749 Update roblox-educators.md
  content/en-us/education/resources/roblox-educators.md
Labels: education

#753 Update Humanoid.yaml
  content/en-us/reference/engine/classes/Humanoid.yaml
Labels: engine reference

#755 Broken "Data Stores" documentation link fix
  content/en-us/reference/engine/classes/GlobalDataStore.yaml
Labels: changes requested, engine reference

#756 Update index.md
  content/en-us/avatar/index.md
Labels: engine guides

#758 Update roblox-educators.md
  content/en-us/education/resources/roblox-educators.md
Labels: changes requested, education

#763 Update index.md
  content/en-us/cloud-services/memory-stores/index.md
Labels: engine guides

#764 Update PluginToolbarButton.yaml
  content/en-us/reference/engine/classes/PluginToolbarButton.yaml
Labels: engine reference

#765 Update GuiObject to mention UIDragDetector
  content/en-us/reference/engine/classes/GuiObject.yaml
Labels: engine reference

#768 Update Instance.yaml
  content/en-us/reference/engine/classes/Instance.yaml
Labels: engine reference

#769 Update __iter metamethod example
  content/en-us/luau/control-structures.md
Labels: engine guides

#772 Improve wording for select()
  content/en-us/reference/engine/globals/LuaGlobals.yaml
Labels: engine reference

#774 Update ui-ux-design.md
  content/en-us/production/game-design/ui-ux-design.md
Labels: design

#775 Update materials.md
  content/en-us/parts/materials.md
Labels: engine guides

#771 Beam roblox patch 1
  content/en-us/environment/post-processing-effects.md
  content/en-us/reference/engine/classes/ColorGradingEffect.yaml
  content/en-us/reference/engine/enums/TonemapperPreset.yaml
Labels: changes requested, don't merge, engine guides, engine reference

#781 Update assets.md
  content/en-us/sound/assets.md
Labels: engine guides

#777 Add // operation to Vector3
  content/en-us/reference/engine/datatypes/Vector3.yaml
Labels: engine reference

#776 Add `bit32.byteswap`
  content/en-us/reference/engine/libraries/bit32.yaml
Labels: engine reference

#767 Additions and changes to the Plugin object and its reference global.
  content/en-us/reference/engine/classes/Plugin.yaml
  content/en-us/reference/engine/globals/RobloxGlobals.yaml
Labels: changes requested, engine reference

#785 Improve `os.clock` documentation
  content/en-us/reference/engine/libraries/os.yaml
  tools/checks/utils/allowedHttpLinks.txt
Labels: changes requested, engine reference, tools
