Repository Roblox/creator-docs, pull requests merged in 2024-03, with the labels that each got.

#445 remove invisible characters from queues.md
  content/en-us/luau/queues.md
Labels: engine guides

#449 Update the Pause() docs in TweenBase
  content/en-us/reference/engine/classes/TweenBase.yaml
Labels: engine reference

#447 Update customizing-in-experience-text-chat.md
  content/en-us/chat/customizing-in-experience-text-chat.md
Labels: changes requested, engine guides

#450 fix: Change incorrect assignment of variable on line 71
  content/en-us/tutorials/fundamentals/coding-4/glow-lights-with-for-loops.md
Labels: tutorials

#452 Fix broken backticks in in-line code samples
  content/en-us/education/build-it-play-it-story-games/code-the-story.md
  content/en-us/reference/engine/classes/AvatarEditorService.yaml
  content/en-us/reference/engine/classes/HumanoidDescription.yaml
  content/en-us/reference/engine/classes/Tool.yaml
Labels: education, engine reference

#451 Make refresh token bullets consistent with Access token bullets
  content/en-us/cloud/reference/oauth2.md
Labels: cloud

#455 Correct grammar in creating-bundled-installers.md
  content/en-us/education/support/creating-bundled-installers.md
Labels: education

#461 ADHOC: Update PolicyService.yaml
  content/en-us/reference/engine/classes/PolicyService.yaml
Labels: engine reference

#465 Fix grammatical typo
  content/en-us/luau/index.md
Labels: engine guides

#471 Update platform.md footnote
  content/en-us/platform.md
Labels: engine guides

#469 typo/clarity fixes
  content/en-us/education/adventure-game-series/code-the-leaderboard.md
  content/en-us/luau/type-checking.md
  content/en-us/reference/engine/classes/Team.yaml
  content/en-us/reference/engine/classes/UserInputService.yaml
  content/en-us/tutorials/fundamentals/coding-2/coding-a-function.md
  content/en-us/tutorials/fundamentals/coding-2/multiple-parameters-and-arguments.md
  content/en-us/tutorials/fundamentals/coding-2/parameters-practice-buttons.md
  content/en-us/tutorials/fundamentals/coding-2/using-parameters-and-events.md
  content/en-us/tutorials/fundamentals/coding-3/intro-to-if-statements.md
  content/en-us/tutorials/fundamentals/coding-3/landing.md
  content/en-us/tutorials/fundamentals/coding-3/multiple-conditions.md
  content/en-us/tutorials/fundamentals/coding-3/powerups-with-if-statements.md
  content/en-us/tutorials/fundamentals/coding-4/intro-to-for-loops.md
  content/en-us/tutorials/fundamentals/coding-4/repeating-code-with-while-loops.md
  content/en-us/tutorials/fundamentals/coding-5/intro-to-arrays.md
  content/en-us/tutorials/fundamentals/coding-5/loops-and-arrays.md
  content/en-us/tutorials/fundamentals/coding-5/making-changes-to-arrays.md
Labels: changes requested, education, engine guides, engine reference, tutorials

#472 Fix ScrollingFrame descriptions around ScrollingFrame.AutomaticCanvasSize
  content/en-us/reference/engine/classes/ScrollingFrame.yaml
Labels: engine reference

#467 Fix incorrect endpoint in External Catalog Queries
  content/en-us/projects/assets/api.md
Labels: engine guides

#473 Fix typo in userdata data type
  content/en-us/luau/userdata.md
Labels: engine guides

#474 Update platform.md
  content/en-us/platform.md
Labels: engine guides

#477 fix typo in "deprecated"
  content/en-us/reference/engine/classes/Status.yaml
Labels: engine reference

#456 More TextChatService documentation
  content/en-us/chat/in-experience-text-chat.md
  content/en-us/reference/engine/classes/TextChannel.yaml
  content/en-us/reference/engine/classes/TextChatService.yaml
  content/en-us/reference/engine/classes/Translator.yaml
Labels: changes requested, engine guides, engine reference

#463 More accurate debris destroy behavior
  content/en-us/reference/engine/classes/Debris.yaml
Labels: engine reference

#462 Clarify explosion behavior
  content/en-us/reference/engine/classes/Explosion.yaml
Labels: engine reference

#481 Don't mark `Instance.DescendantRemoving` as deprecated
  content/en-us/reference/engine/classes/Instance.yaml
Labels: engine reference

#482 Update AssetService.yaml
  content/en-us/reference/engine/classes/AssetService.yaml
Labels: engine reference

#484 grammar/formatting fixes
  content/en-us/reference/engine/datatypes/Secret.yaml
Labels: engine reference
