Repository Roblox/creator-docs, pull requests merged in 2024-06, with the labels that each got.

#578 Fix control structures page code formatting
  content/en-us/luau/control-structures.md
Labels: engine guides

#579 Fix missing ) in scripts.md
  content/en-us/scripting/scripts.md
Labels: engine guides

#580 Fix spelling of descendant
  content/en-us/luau/scope.md
  content/en-us/reference/engine/classes/GuiBase2d.yaml
  content/en-us/reference/engine/classes/WorldRoot.yaml
  content/en-us/ui/positioning-and-sizing.md
Labels: changes requested, engine guides, engine reference

#581 Fix not parenting last
  content/en-us/scripting/multithreading.md
Labels: engine guides

#582 Use compound addition assignment operator
  content/en-us/cloud-services/memory-stores/best-practices.md
  content/en-us/reference/engine/classes/Lighting.yaml
  content/en-us/tutorials/fundamentals/coding-3/multiple-conditions.md
  content/en-us/tutorials/fundamentals/coding-4/nested-loops.md
Labels: engine guides, engine reference, tutorials

#583 Use PascalCase variables for services
  content/en-us/reference/engine/classes/UserInputService.yaml
  content/en-us/reference/engine/classes/VRService.yaml
  content/en-us/resources/beyond-the-dark/user-interface.md
  content/en-us/tutorials/fundamentals/coding-4/nested-loops.md
Labels: engine reference, resources, tutorials

#584 Use the VideoFrame.Loaded event instead of looping task.wait
  content/en-us/ui/video-frames.md
Labels: engine guides

#585 Use // instead of / and math.floor
  content/en-us/reference/engine/classes/Lighting.yaml
  content/en-us/reference/engine/classes/StudioService.yaml
Labels: engine reference

#587 Use correct memory unit on buffer page
  content/en-us/reference/engine/libraries/buffer.yaml
Labels: engine reference

#588 Fix double spacing in prints
  content/en-us/input/mouse-and-keyboard.md
  content/en-us/luau/functions.md
  content/en-us/projects/assets/in-experience-asset-creation.md
  content/en-us/ui/text-filtering.md
  content/en-us/workspace/collisions.md
Labels: engine guides

#590 Removed unnecessary brackets
  content/en-us/resources/the-mystery-of-duvall-drive/developing-a-moving-world.md
Labels: resources

#591 Remove invisible character
  content/en-us/tutorials/fundamentals/coding-4/nested-loops.md
Labels: tutorials

#592 Use table iteration instead of numeric loop and index
  content/en-us/parts/solid-modeling.md
Labels: engine guides

#593 Fix missing `then`
  content/en-us/cloud-services/memory-stores/queue.md
Labels: engine guides

#594 Fix using undefined variable
  content/en-us/luau/type-checking.md
Labels: engine guides

#596 Change makecube to makeCube
  content/en-us/tutorials/fundamentals/coding-4/nested-loops.md
Labels: tutorials

#597 Use correct unit for internet speed
  content/en-us/studio/setting-up-roblox-studio.md
Labels: studio

#598 Fix indexing instead of FindFirstChildWhichIsA
  content/en-us/tutorials/core/scripting/create-player-hazards.md
Labels: tutorials

#600 Specify other alternatives for the Status object
  content/en-us/reference/engine/classes/Status.yaml
Labels: engine reference

#599 Correct description about math.random algorithm
  content/en-us/reference/engine/libraries/math.yaml
Labels: engine reference

#602 Add missing spacing in local declaration
  content/en-us/tutorials/fundamentals/coding-3/giving-points.md
  content/en-us/tutorials/fundamentals/coding-3/powerups-with-if-statements.md
Labels: tutorials

#605 Fix spacing on "Intro to Dictionaries" page
  content/en-us/tutorials/fundamentals/coding-5/intro-to-dictionaries.md
Labels: changes requested, tutorials

#608 Fix misplaced `
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
Labels: education

#603 Improve memory store best practices page
  content/en-us/cloud-services/memory-stores/best-practices.md
Labels: engine guides

#604 Note that table.find exists
  content/en-us/tutorials/fundamentals/coding-5/making-changes-to-arrays.md
Labels: tutorials

#606 Update param desc of DataStore:ListVersionsAsync
  content/en-us/reference/engine/classes/DataStore.yaml
Labels: engine reference

#610 Use table.remove return value
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
  content/en-us/education/battle-royale-series/creating-a-gui.md
  content/en-us/education/battle-royale-series/ending-matches.md
  content/en-us/education/battle-royale-series/managing-players.md
Labels: education

#558 Add warning to loadstring()
  content/en-us/reference/engine/globals/LuaGlobals.yaml
Labels: engine reference

#616 Update environment/index.md
  content/en-us/environment/index.md
Labels: engine guides

#614 Fix typo and grammar in style guide
  STYLE.md
Labels: tools

#613 Link methods on Actor page
  content/en-us/reference/engine/classes/Actor.yaml
Labels: engine reference

#612 Update frames.md
  content/en-us/ui/frames.md
Labels: engine guides

#518 Document hazards of plugin settings API
  content/en-us/reference/engine/classes/Plugin.yaml
Labels: engine reference

#617 Correct RunServer to RunService
  content/en-us/studio/microprofiler/task-scheduler.md
Labels: studio

#618 Remove extra space before defining function parameters
  content/en-us/education/adventure-game-series/selling-items.md
  content/en-us/luau/metatables.md
  content/en-us/luau/scope.md
  content/en-us/reference/engine/classes/HumanoidDescription.yaml
  content/en-us/reference/engine/classes/Player.yaml
  content/en-us/reference/engine/classes/StarterGui.yaml
  content/en-us/reference/engine/classes/TestService.yaml
  content/en-us/reference/engine/libraries/string.yaml
  content/en-us/reference/engine/libraries/task.yaml
  content/en-us/resources/the-mystery-of-duvall-drive/supporting-systems.md
  content/en-us/scripting/scheduler.md
  content/en-us/tutorials/fundamentals/coding-4/creating-a-timed-bridge.md
Labels: education, engine guides, engine reference, resources, tutorials

#619 Correct module return information
  content/en-us/scripting/scripts.md
Labels: engine guides

#620 MemoryStore hashmap page improvements
  content/en-us/cloud-services/memory-stores/hash-map.md
Labels: engine guides

#621 Fix broken space
  content/en-us/education/battle-royale-series/ending-matches.md
  content/en-us/tutorials/fundamentals/coding-5/pairs-and-ipairs.md
Labels: education, tutorials

#622 Fix lua instead of json
  content/en-us/projects/assets/api.md
Labels: engine guides

#623 Fix syntax errors
  content/en-us/chat/legacy/admin-commands.md
Labels: engine guides

#627 Update nested-loops.md
  content/en-us/tutorials/fundamentals/coding-4/nested-loops.md
Labels: tutorials

#628 Remove unnecessary semicolons
  content/en-us/luau/metatables.md
  content/en-us/projects/teleporting.md
  content/en-us/scripting/scripts.md
Labels: engine guides

#630 Fix spelling of millennia
  content/en-us/education/build-it-play-it-galactic-speedway/main-page.md
Labels: education

#631 Fix spelling of limitations
  content/en-us/production/game-design/prototyping.md
Labels: design

#632 Fix spelling of palette
  content/en-us/education/build-it-play-it-create-and-destroy/snap-to-grid.md
Labels: education

#633 Fix spelling
  content/en-us/art/modeling/rigging.md
  content/en-us/education/battle-royale-series/managing-players.md
  content/en-us/education/build-it-play-it-island-of-move/adding-animations.md
  content/en-us/education/lesson-plans/digital-citizenship/animating-characters.md
  content/en-us/education/resources/intro-to-digital-safety.md
  content/en-us/production/game-design/prototyping.md
  content/en-us/tutorials/fundamentals/coding-5/loops-and-arrays.md
Labels: art, design, education, tutorials

#634 Use FindFirstChildWhichIsA to find humanoid
  content/en-us/art/characters/facial-animation/moods.md
  content/en-us/characters/appearance.md
  content/en-us/characters/name-health-display.md
  content/en-us/chat/bubble-chat.md
  content/en-us/chat/in-experience-text-chat.md
  content/en-us/players/avatar-inspect-menu.md
  content/en-us/reference/engine/classes/Camera.yaml
  content/en-us/reference/engine/classes/Humanoid.yaml
  content/en-us/resources/beyond-the-dark/custom-characters.md
  content/en-us/tutorials/core/scripting/script-an-upgrade-button.md
  content/en-us/tutorials/gameplay-scripting/detecting-hits.md
  content/en-us/tutorials/scripting/intermediate-scripting/hit-detection-with-lasers.md
Labels: art, engine guides, engine reference, resources, tutorials

#636 Fix . instead of ,
  content/en-us/tutorials/scripting/basic-scripting/intro-to-scripting.md
Labels: tutorials

#637 Changed filteredTextResult to filteredText to match example
  content/en-us/ui/text-filtering.md
Labels: engine guides

#638 Fix inline code
  content/en-us/reference/engine/classes/RunService.yaml
Labels: engine reference

#640 Fix spelling
  content/en-us/art/overview-dcc.md
  content/en-us/environment/index.md
  content/en-us/production/game-design/season-pass-design.md
Labels: art, design, engine guides

#642 Fix variable name in oauth2-develop.md
  content/en-us/cloud/open-cloud/oauth2-develop.md
Labels: cloud

#645 Clarify the availability of the ModelStreamingMode property
  content/en-us/reference/engine/classes/Model.yaml
Labels: engine reference

#646 Fix using wrong variable name
  content/en-us/production/publishing/badges.md
Labels: engine guides

#647 Use proper syntax for elseif
  content/en-us/tutorials/3D-art/creating-elevators.md
Labels: tutorials

#644 Remove mistakes from spell checker exclusion
  .vscode/settings.json
Labels: tools

#651 Fix string.format pattern
  content/en-us/chat/legacy/admin-commands.md
Labels: engine guides

#658 Update toolbox.md
  content/en-us/projects/assets/toolbox.md
Labels: engine guides

#652 Use GetPlayerFromCharacter
  content/en-us/resources/the-mystery-of-duvall-drive/developing-a-moving-world.md
Labels: resources

#653 Update fading-trap/scriptInPlace image
  content/en-us/assets/tutorials/fading-trap/scriptInPlace.jpg
  content/en-us/assets/tutorials/fading-trap/scriptInPlace.png
  content/en-us/tutorials/scripting/basic-scripting/fading-trap.md
Labels: assets, tutorials

#659 Improve wording for Players:GetPlayers()
  content/en-us/reference/engine/classes/Players.yaml
Labels: changes requested, engine reference

#660 DMCAGuidelinesUpdate
  content/en-us/production/publishing/dmca-guidelines.md
Labels: engine guides
