Repository Roblox/creator-docs, pull requests merged in 2024-07, with the labels that each got.

#661 Unused for loop variables
  content/en-us/cloud-services/data-stores/player-data-purchasing.md
  content/en-us/cloud-services/memory-stores/best-practices.md
  content/en-us/education/build-it-play-it-island-of-move/adding-animations.md
  content/en-us/players/avatar-editor.md
  content/en-us/production/promotion/invite-prompts.md
  content/en-us/reference/engine/libraries/os.yaml
  content/en-us/studio/microprofiler/index.md
Labels: education, engine guides, engine reference, studio

#663 Fix typos/formatting, add text chat migration info
  content/en-us/chat/in-experience-text-chat.md
  content/en-us/reference/engine/classes/ContextActionService.yaml
  content/en-us/reference/engine/classes/Instance.yaml
  content/en-us/reference/engine/classes/TextChatMessageProperties.yaml
  content/en-us/reference/engine/datatypes/CatalogSearchParams.yaml
  content/en-us/reference/engine/enums/LeftRight.yaml
  content/en-us/reference/engine/libraries/math.yaml
  content/en-us/reference/engine/libraries/string.yaml
  content/en-us/reference/engine/libraries/utf8.yaml
Labels: engine guides, engine reference

#665 Fix minor typo in CylinderMesh API page
  content/en-us/reference/engine/classes/CylinderMesh.yaml
Labels: engine reference

#650 Update UserInputService.yaml
  content/en-us/reference/engine/classes/UserInputService.yaml
Labels: engine reference

#643 Clarified `Instance.Changed`.
  content/en-us/reference/engine/classes/Instance.yaml
Labels: engine reference

#664 Add strict typing to Queue example
  content/en-us/luau/queues.md
Labels: engine guides

#667 Fix `MemoryStore` sharding advice
  content/en-us/cloud-services/memory-stores/index.md
Labels: engine guides

#670 Update index.md - remove server memory sentence.
  content/en-us/performance-optimization/index.md
Labels: engine guides

#672 fix RotationCurveKey.Value type in docs
  content/en-us/reference/engine/datatypes/RotationCurveKey.yaml
Labels: engine reference

#685 Update Dialog.yaml
  content/en-us/reference/engine/classes/Dialog.yaml
Labels: engine reference

#689 Correct text regarding eligibility calculation for ads publishing
  content/en-us/production/monetization/immersive-ads.md
Labels: changes requested, engine guides

#677 Changed Mouse.Hit's calculation to 10000 studs
  content/en-us/reference/engine/classes/Mouse.yaml
Labels: engine reference

#678 Removed Historical Functions
  content/en-us/reference/engine/classes/StarterGui.yaml
Labels: engine reference

#680 Update Secret.yaml
  content/en-us/reference/engine/datatypes/Secret.yaml
Labels: engine reference

#683 Change wording regarding require(id) in ModuleScript.yaml
  content/en-us/reference/engine/classes/ModuleScript.yaml
Labels: engine reference

#686 Update GuiButton.yaml
  content/en-us/reference/engine/classes/GuiButton.yaml
Labels: engine reference

#687 Update Method, DisplayBubble in TextChatService
  content/en-us/reference/engine/classes/TextChatService.yaml
Labels: engine reference

#688 Update string.yaml
  content/en-us/reference/engine/libraries/string.yaml
Labels: engine reference

#693 Whitespace improvements
  content/en-us/animation/events.md
  content/en-us/chat/legacy/server-side-chat-modules.md
  content/en-us/education/adventure-game-series/finishing-the-project.md
  content/en-us/education/battle-royale-series/finishing-the-project.md
  content/en-us/education/build-it-play-it-create-and-destroy/change-the-script.md
  content/en-us/luau/functions.md
  content/en-us/luau/tuples.md
  content/en-us/players/tools.md
  content/en-us/resources/the-mystery-of-duvall-drive/developing-a-moving-world.md
  content/en-us/scripting/scheduler.md
  content/en-us/tutorials/building/effects/laser-traps-with-beams.md
  content/en-us/tutorials/building/effects/using-particles-for-explosions.md
  content/en-us/tutorials/building/environments/in-game-sounds.md
  content/en-us/tutorials/building/ui/interactive-buttons.md
  content/en-us/tutorials/core/scripting/script-game-behavior.md
  content/en-us/tutorials/fundamentals/coding-2/parameters-practice-buttons.md
  content/en-us/tutorials/fundamentals/coding-3/giving-points.md
  content/en-us/tutorials/fundamentals/coding-3/intro-to-if-statements.md
  content/en-us/tutorials/fundamentals/coding-3/powerups-with-if-statements.md
  content/en-us/tutorials/fundamentals/coding-4/intro-to-for-loops.md
  content/en-us/tutorials/fundamentals/coding-4/repeating-code-with-while-loops.md
  content/en-us/tutorials/fundamentals/coding-5/intro-to-dictionaries.md
  content/en-us/tutorials/fundamentals/coding-5/making-changes-to-arrays.md
  content/en-us/tutorials/fundamentals/coding-6/coding-concept-algorithms.md
  content/en-us/tutorials/fundamentals/coding-6/intro-to-module-scripts.md
  content/en-us/ui/layout-and-appearance.md
Labels: changes requested, education, engine guides, resources, tutorials

#690 Change back to 1,000
  content/en-us/reference/engine/classes/Mouse.yaml
Labels: engine reference

#668 Mention `teleportData` buffer support
  content/en-us/reference/engine/classes/TeleportService.yaml
Labels: engine reference

#697 Remove physics point from designing.md
  content/en-us/performance-optimization/designing.md
Labels: changes requested, engine guides

#649 Update InputObject.yaml
  content/en-us/reference/engine/classes/InputObject.yaml
Labels: engine reference

#699 More spacing improvements
  content/en-us/cloud-services/data-stores/player-data-purchasing.md
  content/en-us/education/battle-royale-series/managing-players.md
  content/en-us/education/battle-royale-series/timers-and-events.md
  content/en-us/education/build-it-play-it-island-of-move/adding-animations.md
  content/en-us/education/resources/coding-concept-algorithms.md
  content/en-us/includes/engine-comparisons/fishing-pole-code-sample.md
  content/en-us/input/mobile.md
  content/en-us/luau/comments.md
  content/en-us/resources/beyond-the-dark/custom-characters.md
  content/en-us/tutorials/core/scripting/create-player-hazards.md
  content/en-us/tutorials/fundamentals/coding-5/pairs-and-ipairs.md
  content/en-us/tutorials/scripting/intermediate-scripting/creating-player-tools.md
  content/en-us/tutorials/scripting/intermediate-scripting/saving-data.md
Labels: education, engine guides, resources, tutorials

#700 Improve module.md
  content/en-us/scripting/module.md
Labels: engine guides

#701 Update InputObject.yaml
  content/en-us/reference/engine/classes/InputObject.yaml
Labels: engine reference

#704 Formatting improvements
  content/en-us/reference/engine/classes/Humanoid.yaml
  content/en-us/reference/engine/classes/InsertService.yaml
  content/en-us/reference/engine/classes/Lighting.yaml
  content/en-us/reference/engine/classes/LocalizationTable.yaml
  content/en-us/reference/engine/classes/PlayerGui.yaml
  content/en-us/reference/engine/classes/Players.yaml
  content/en-us/reference/engine/classes/ProximityPromptService.yaml
  content/en-us/reference/engine/classes/TeleportService.yaml
  content/en-us/reference/engine/classes/Tool.yaml
  content/en-us/reference/engine/classes/UserInputService.yaml
  content/en-us/reference/engine/classes/VRService.yaml
  content/en-us/reference/engine/classes/VoiceChatService.yaml
  content/en-us/reference/engine/libraries/task.yaml
Labels: engine reference

#705 Update math.yaml
  content/en-us/reference/engine/libraries/math.yaml
Labels: engine reference

#710 Updated the comments in the documentation to accurately reflect the output.
  content/en-us/luau/type-coercion.md
Labels: engine guides

#707 Fix sleep system links
  content/en-us/physics/adaptive-timestepping.md
  content/en-us/physics/index.md
Labels: changes requested, engine guides

#654 Add missing universe-messaging-service:publish permission
  content/en-us/cloud/open-cloud/oauth2-sample.md
Labels: cloud

#706 More formatting improvements
  content/en-us/art/characters/facial-animation/moods.md
  content/en-us/characters/appearance.md
  content/en-us/education/adventure-game-series/selling-items.md
  content/en-us/tutorials/fundamentals/coding-2/coding-a-function.md
  content/en-us/tutorials/fundamentals/coding-5/returning-values-from-tables.md
  content/en-us/tutorials/fundamentals/coding-6/creating-with-module-scripts.md
  content/en-us/tutorials/scripting/input-and-camera/detecting-user-input.md
  content/en-us/tutorials/scripting/intermediate-scripting/creating-a-health-pickup.md
  content/en-us/tutorials/scripting/intermediate-scripting/hit-detection-with-lasers.md
Labels: art, education, engine guides, tutorials

#714 Update proximity-prompts.md
  content/en-us/ui/proximity-prompts.md
Labels: engine guides

#713 Corrected Priority Order for Animation States in Documentation
  content/en-us/reference/engine/classes/AnimationTrack.yaml
Labels: engine reference

#717 Update AssetIDs for Clay Roof Tiles in materials.md
  content/en-us/parts/materials.md
Labels: engine guides

#715 deprecation-message-additions
  content/en-us/reference/engine/globals/RobloxGlobals.yaml
Labels: engine reference

#716 (Enum.SurfaceType) rephrasing-and-deprecation-additions
  content/en-us/reference/engine/enums/SurfaceType.yaml
Labels: changes requested, engine reference

#719 Update PolicyService.yaml
  content/en-us/reference/engine/classes/PolicyService.yaml
Labels: engine reference

#718 Luau Formatting
  content/en-us/education/battle-royale-series/coding-the-game-loop.md
  content/en-us/education/battle-royale-series/creating-a-gui.md
  content/en-us/education/battle-royale-series/ending-matches.md
  content/en-us/players/avatar-context-menu.md
  content/en-us/projects/external-tools.md
  content/en-us/scripting/index.md
  content/en-us/studio/microprofiler/using-microprofiler.md
Labels: education, engine guides, studio

#720 ypcall-addition-and-deprecation-messages
  content/en-us/reference/engine/globals/LuaGlobals.yaml
  content/en-us/reference/engine/globals/RobloxGlobals.yaml
Labels: engine reference

#724 Update creating-a-script.md
  content/en-us/tutorials/fundamentals/coding-1/creating-a-script.md
Labels: tutorials

#726 Fix variadic `CFrame` methods
  content/en-us/reference/engine/datatypes/CFrame.yaml
Labels: changes requested, engine reference

#728 Update Documentation for AudioFilter
  content/en-us/reference/engine/classes/AudioFilter.yaml
Labels: engine reference

#729 Update MeshPart.yaml
  content/en-us/reference/engine/classes/MeshPart.yaml
Labels: engine reference

#730 Update BasePart.yaml
  content/en-us/reference/engine/classes/BasePart.yaml
Labels: changes requested, engine reference

#736 reorder parameters for clarity
  content/en-us/projects/assets/api.md
Labels: engine guides

#738 Update StudioService.yaml (code example ActiveScript)
  content/en-us/reference/engine/classes/StudioService.yaml
Labels: engine reference

#739 Update MarketplaceService.yaml
  content/en-us/reference/engine/classes/MarketplaceService.yaml
Labels: engine reference
