Repository Roblox/creator-docs, pull requests merged in 2024-10, with the labels that each got.

#850 Update Technology.yaml
  content/en-us/reference/engine/enums/Technology.yaml
Labels: engine reference

#849 Update creating-basic-heads.md mapping instructions
  content/en-us/art/characters/facial-animation/creating-basic-heads.md
Labels: art

#852 Update AtmosphereSensor.yaml
  content/en-us/reference/engine/classes/AtmosphereSensor.yaml
Labels: engine reference

#847 New DeepClone code snippet
  content/en-us/luau/tables.md
Labels: engine guides

#853 Remove "CFrame cant be edited" from Tool.yaml
  content/en-us/reference/engine/classes/Tool.yaml
Labels: engine reference

#855 Add `continue` keyword documentation
  content/en-us/luau/control-structures.md
Labels: changes requested, engine guides

#856 Update AtmosphereSensor.yaml
  content/en-us/reference/engine/classes/AtmosphereSensor.yaml
Labels: engine reference

#857 Add documentation for IsContentSharingAllowed in PolicyService response
  content/en-us/reference/engine/classes/PolicyService.yaml
Labels: engine reference

#864 Update Humanoid.yaml
  content/en-us/reference/engine/classes/Humanoid.yaml
Labels: engine reference

#865 Fix punctuation on Glue.yaml
  content/en-us/reference/engine/classes/Glue.yaml
Labels: engine reference

#866 Make VoiceChatService's documentation clearer
  content/en-us/reference/engine/classes/VoiceChatService.yaml
Labels: engine reference

#867 Update AudioApiRollout.yaml
  content/en-us/reference/engine/enums/AudioApiRollout.yaml
Labels: engine reference

#869 Update AudioLimiter.yaml
  content/en-us/reference/engine/classes/AudioLimiter.yaml
Labels: engine reference

#875 Added missing sections: GuiState, Interactable
  content/en-us/reference/engine/classes/GuiObject.yaml
Labels: engine reference

#878 Add `rbxtemp` to valid url protocols
  content/en-us/projects/assets/index.md
  content/en-us/reference/engine/datatypes/Content.yaml
Labels: changes requested, engine guides, engine reference

#882 Update ContentSourceType.yaml
  content/en-us/reference/engine/enums/ContentSourceType.yaml
Labels: engine reference

#883 Update ListenerLocation.yaml
  content/en-us/reference/engine/enums/ListenerLocation.yaml
Labels: engine reference

#886 Update CaptureService.yaml
  content/en-us/reference/engine/classes/CaptureService.yaml
Labels: engine reference

#888 Fix Code Error.md
  content/en-us/production/analytics/custom-events.md
Labels: engine guides

#879 Add `rbxgameasset` to asset url types
  content/en-us/projects/assets/index.md
Labels: changes requested, engine guides

#890 Fix "AirDenstiy" typo in AtmosphereSensor
  content/en-us/reference/engine/classes/AtmosphereSensor.yaml
Labels: engine reference

#870 Add hyperlinks to ui-ux-design.md
  content/en-us/production/game-design/ui-ux-design.md
Labels: changes requested, design

#889 Update Creator Store Docs
  content/en-us/projects/assets/api.md
Labels: changes requested, engine guides

#893 offsetStudsU/offsetStudsV fix
  content/en-us/reference/engine/classes/Texture.yaml
Labels: engine reference

#892 Fix inaccuracies in spawn and defer descriptions.
  content/en-us/reference/engine/libraries/task.yaml
Labels: engine reference

#895 Add a code example to RBXScriptConnection
  content/en-us/reference/engine/datatypes/RBXScriptConnection.yaml
Labels: engine reference

#897 Add new links for educators
  content/en-us/education/resources/roblox-educators.md
Labels: changes requested, education

#896 Add new links
  tools/checks/utils/allowedHttpLinks.txt
Labels: tools
