Repository Roblox/creator-docs, pull requests merged in 2024-02, with the labels that each got.

#406 Add Instance.Name size limit
  content/en-us/reference/engine/classes/Instance.yaml
Labels: engine reference

#407 Update luau/index.md to link to type check docs on wiki
  content/en-us/luau/index.md
Labels: changes requested, engine guides

#412 Update ContextActionService.yaml
  content/en-us/reference/engine/classes/ContextActionService.yaml
Labels: engine reference

#384 Update STYLE.md to expand API Page Link options
  STYLE.md
Labels: changes requested, tools, stale

#413 Corrected :Clone() return type
  content/en-us/reference/engine/classes/Instance.yaml
Labels: changes requested, engine reference

#417 Parity between VRService and UserInputService `RecenterUserHeadCFrame` methods
  content/en-us/reference/engine/classes/VRService.yaml
Labels: engine reference

#402 Update teleporting.md
  content/en-us/projects/teleporting.md
Labels: changes requested, engine guides

#416 Changed os.date() "%c" specifier example format to actual output
  content/en-us/reference/engine/libraries/os.yaml
Labels: engine reference

#418 Add * format specifier.
  content/en-us/reference/engine/libraries/string.yaml
Labels: engine reference

#420 Update DragDetectorPermissionPolicy.yaml
  content/en-us/reference/engine/enums/DragDetectorPermissionPolicy.yaml
Labels: engine reference

#385 Update AvatarEditorService.yaml
  content/en-us/reference/engine/classes/AvatarEditorService.yaml
Labels: changes requested, don't merge, engine reference

#415 Update README.md
  README.md
Labels: tools

#423 HumanoidDescription description text missing word, it sounded a little bit confusing
  content/en-us/reference/engine/classes/HumanoidDescription.yaml
Labels: changes requested, engine reference

#424 Small info about AccessoryDescription and BodyPartDescription
  content/en-us/reference/engine/classes/AccessoryDescription.yaml
  content/en-us/reference/engine/classes/BodyPartDescription.yaml
Labels: changes requested, engine reference

#427 fix: patch formatting on TextChatService.OnBubbleDisplay
  content/en-us/reference/engine/classes/TextChatService.yaml
Labels: engine reference

#428 Update ScriptEditorService.yaml
  content/en-us/reference/engine/classes/ScriptEditorService.yaml
Labels: changes requested, engine reference

#432 Update OverlapParams.yaml
  content/en-us/reference/engine/datatypes/OverlapParams.yaml
Labels: engine reference

#434 Update TextChatService.yaml
  content/en-us/reference/engine/classes/TextChatService.yaml
Labels: engine reference

#435 Update TextChannel.yaml
  content/en-us/reference/engine/classes/TextChannel.yaml
Labels: engine reference

#438 more precise details for TextChatService.MessageReceived
  content/en-us/reference/engine/classes/TextChannel.yaml
  content/en-us/reference/engine/classes/TextChatService.yaml
Labels: changes requested, engine reference

#440 Client Teleporting Clarification
  content/en-us/projects/teleporting.md
Labels: engine guides

#441 Update Player.Character in Player.yaml
  content/en-us/reference/engine/classes/Player.yaml
Labels: engine reference
