Repository Roblox/creator-docs, pull requests merged in 2024-11, with the labels that each got.

#901 Remove self link from Axes
  content/en-us/reference/engine/datatypes/Axes.yaml
Labels: engine reference

#894 Update tag-table.md
  content/en-us/studio/microprofiler/tag-table.md
Labels: studio

#898 Update Camera.ViewportSize with behavior for notched devices
  content/en-us/assets/engine-api/classes/Camera/DeviceSafeAreaVsFullscreen.png
  content/en-us/assets/engine-api/classes/Camera/ViewportPointToRayOrigin.png
  content/en-us/reference/engine/classes/Camera.yaml
Labels: assets, changes requested, engine reference

#900 Add detailed documentation for Part.Shape
  content/en-us/reference/engine/classes/Part.yaml
Labels: engine reference

#902 minor quotation typo
  content/en-us/reference/engine/classes/TeleportService.yaml
Labels: engine reference

#904 Update TextChatService API reference to call attention to new TextCha…
  content/en-us/reference/engine/classes/TextChatService.yaml
Labels: engine reference

#906 Update TextChannel API reference to highlight new channel tabs feature
  content/en-us/reference/engine/classes/TextChannel.yaml
Labels: engine reference

#905 Update ChannelTabsConfiguration API reference to point to guide docs …
  content/en-us/reference/engine/classes/ChannelTabsConfiguration.yaml
Labels: engine reference

#908 add info about runcontext to bubble chat docs
  content/en-us/chat/bubble-chat.md
Labels: engine guides

#911 Update AudioAnalyzer.yaml
  content/en-us/reference/engine/classes/AudioAnalyzer.yaml
Labels: changes requested, engine reference

#884 Update Wire.yaml
  content/en-us/reference/engine/classes/Wire.yaml
Labels: engine reference, stale

#909 Add table.freeze section
  content/en-us/luau/tables.md
Labels: engine guides

#914 Remove "New Audio API"
  content/en-us/studio/beta.md
Labels: studio

#912 Clarify resource owner `U` in OAuth2 reference
  content/en-us/cloud/reference/oauth2.md
Labels: cloud

#918 Update groups.md
  content/en-us/projects/groups.md
Labels: changes requested, engine guides

#919 Fix buffer.writeu16 int number range
  content/en-us/reference/engine/libraries/buffer.yaml
Labels: engine reference

#920 Random:NextNumber() clarifications
  content/en-us/reference/engine/datatypes/Random.yaml
Labels: engine reference
