Repository Roblox/creator-docs, pull requests merged in 2024-05, with the labels that each got.

#530 Update avatar-inspect-menu.md
  content/en-us/players/avatar-inspect-menu.md
Labels: engine guides

#531 Add Folder info for UI
  content/en-us/ui/layout-and-appearance.md
Labels: engine guides

#532 Update Folder docs
  content/en-us/reference/engine/classes/Folder.yaml
Labels: changes requested, engine reference

#536 Replace legacy approximate Luau conditional operator
  content/en-us/luau/luau-csharp-comparison.md
Labels: engine guides

#537 Enum.Materials summary updated what classes they work on.
  content/en-us/reference/engine/enums/Material.yaml
Labels: engine reference

#538 Fix code sample for variadics
  content/en-us/luau/functions.md
Labels: engine guides

#543 Update Hopper.yaml
  content/en-us/reference/engine/classes/Hopper.yaml
Labels: engine reference

#544 added-missing-parenthesis
  content/en-us/cloud-services/experience-notifications.md
Labels: engine guides

#547 Update tag-table.md
  content/en-us/studio/microprofiler/tag-table.md
Labels: studio

#553 Updates table.sort description to be clearer
  content/en-us/reference/engine/libraries/table.yaml
Labels: engine reference

#555 fix typo
  content/en-us/ui/text-filtering.md
Labels: engine guides

#542 Update OrderedDataStore.yaml
  content/en-us/reference/engine/classes/OrderedDataStore.yaml
Labels: engine reference

#557 Fix the grammar here
  content/en-us/input/mobile.md
Labels: engine guides

#560 Fix typos and clarify formatting
  content/en-us/reference/engine/classes/GroupService.yaml
  content/en-us/reference/engine/classes/StarterGui.yaml
  content/en-us/reference/engine/classes/TextLabel.yaml
  content/en-us/reference/engine/classes/TextService.yaml
Labels: engine reference

#564 Update raycasting.md
  content/en-us/workspace/raycasting.md
Labels: engine guides

#566 Update Players.yaml
  content/en-us/reference/engine/classes/Players.yaml
Labels: engine reference

#569 Minor formatting fix in STYLE.md
  STYLE.md
Labels: tools

#568 Update modeling-setup.md
  content/en-us/art/accessories/creating/modeling-setup.md
Labels: art

#570 Update nominating-for-the-discover-page.md
  content/en-us/production/promotion/nominating-for-the-discover-page.md
Labels: changes requested, engine guides

#571 Update allowedHttpLinks.txt
  tools/checks/utils/allowedHttpLinks.txt
Labels: tools
