Repository Roblox/creator-docs, pull requests merged in 2024-01, with the labels that each got.

#362 Fix typo containing vulgar language
  content/en-us/tutorials/scripting/intermediate-scripting/hit-detection-with-lasers.md
Labels: tutorials

#366 Update PackageLink.yaml - minor issue
  content/en-us/reference/engine/classes/PackageLink.yaml
Labels: engine reference

#365 Update Instance.yaml
  content/en-us/reference/engine/classes/Instance.yaml
Labels: engine reference

#358 Update AnimationController.yaml
  content/en-us/reference/engine/classes/AnimationController.yaml
Labels: engine reference

#361 Update require RobloxGlobals.yaml
  content/en-us/reference/engine/globals/RobloxGlobals.yaml
Labels: engine reference

#360 Document CollectionService.TagAdded and CollectionService.TagRemoved
  content/en-us/reference/engine/classes/CollectionService.yaml
Labels: engine reference

#364 Update PreloadAsync in ContentProvider.yaml
  content/en-us/reference/engine/classes/ContentProvider.yaml
Labels: engine reference

#348 Update private-servers.md again
  content/en-us/production/monetization/private-servers.md
Labels: changes requested, engine guides

#367 Update stacks.md
  content/en-us/luau/stacks.md
Labels: engine guides

#368 Update debug memory methods
  content/en-us/reference/engine/libraries/debug.yaml
Labels: engine reference

#369 Add alerts to Instance.Changed and Instance:GetPropertyChangedSignal in Instance.yaml
  content/en-us/reference/engine/classes/Instance.yaml
Labels: engine reference

#370 fix typo
  content/en-us/education/lesson-plans/intro-to-game-and-coding.md
Labels: education

#371 Fix video scale
  content/en-us/tutorials/fundamentals/coding-3/traps-with-if-statements.md
Labels: tutorials

#372 Fix unnecessary whitespace
  content/en-us/tutorials/fundamentals/coding-3/powerups-with-if-statements.md
Labels: tutorials

#374 Update enums.md
  content/en-us/luau/enums.md
Labels: engine guides

#376 fix Player.yaml
  content/en-us/reference/engine/classes/Player.yaml
Labels: engine reference

#380 Fix markdown for CreateDefaultCommands in TextChatService.yaml
  content/en-us/reference/engine/classes/TextChatService.yaml
Labels: engine reference

#381 Update Random.yaml
  content/en-us/reference/engine/datatypes/Random.yaml
Labels: engine reference

#382 Add markdown escape to TextChatService.yaml
  content/en-us/reference/engine/classes/TextChatService.yaml
Labels: engine reference

#383 Update BodyPosition.yaml
  content/en-us/reference/engine/classes/BodyPosition.yaml
Labels: engine reference

#386 Update README.md
  README.md
Labels: tools

#388 Revert "Update README.md"
  README.md
Labels: tools

#389 Update HumanoidDescription.yaml typo
  content/en-us/reference/engine/classes/HumanoidDescription.yaml
Labels: engine reference

#391 Update CameraMode.yaml
  content/en-us/reference/engine/enums/CameraMode.yaml
Labels: engine reference

#393 Fix syntax issues in example
  content/en-us/luau/luau-csharp-comparison.md
Labels: engine guides

#394 Update Spherecast error cases in WorldRoot.yaml
  content/en-us/reference/engine/classes/WorldRoot.yaml
Labels: engine reference

#396 Fix a typo in a sample script in unity.md
  content/en-us/unity.md
Labels: engine guides
