Repository Roblox/creator-docs, pull requests merged in 2025-02, with the labels that each got.

#1011 Correct mis-attributed game credit
  content/en-us/production/game-design/introduction-to-quest-design.md
Labels: design

#1013 Remove reference to .Changed firing for attribute changes
  content/en-us/scripting/attributes.md
Labels: engine guides

#1016 Update TextChatService.yaml
  content/en-us/reference/engine/classes/TextChatService.yaml
Labels: engine reference

#1015 Update RaycastResult.yaml
  content/en-us/reference/engine/datatypes/RaycastResult.yaml
Labels: engine reference

#1018 Update EditableMesh.yaml and AssetService.yaml
  content/en-us/reference/engine/classes/AssetService.yaml
  content/en-us/reference/engine/classes/EditableMesh.yaml
Labels: engine reference

#1019 Clarify font mapping for deprecated fonts
  content/en-us/reference/engine/enums/Font.yaml
Labels: engine reference

#1020 Implement definitions for math.lerp and math.map
  content/en-us/reference/engine/libraries/math.yaml
Labels: engine reference

#1022 Update automatic translation languages
  content/en-us/production/localization/automatic-translations.md
Labels: engine guides

#916 Added Javascript reference to open cloud datastore doc
  content/en-us/cloud/open-cloud/usage-data-stores.md
Labels: changes requested, cloud

#1023 Clarify HapticEffect is not out on HapticService deprecation msg
  content/en-us/reference/engine/classes/HapticService.yaml
Labels: engine reference

#1026 Update UserInputService.yaml
  content/en-us/reference/engine/classes/UserInputService.yaml
Labels: engine reference

#1031 Update gamepad.md
  content/en-us/input/gamepad.md
Labels: engine guides

#1030 Change www.authorize.roblox.com to authorize.roblox.com
  content/en-us/cloud/open-cloud/usage-messaging.md
Labels: cloud

#1027 Update AnimationTrack.yaml
  content/en-us/reference/engine/classes/AnimationTrack.yaml
Labels: engine reference

#1033 Remove outdated bullet point
  content/en-us/studio/microprofiler/task-scheduler.md
Labels: studio

#1037 Update oauth2-develop.md
  content/en-us/cloud/open-cloud/oauth2-develop.md
Labels: cloud

#1038 Update Workspace.yaml
  content/en-us/reference/engine/classes/Workspace.yaml
Labels: engine reference
