Repository Roblox/creator-docs, pull requests merged in 2025-07, with the labels that each got.

#1155 Tiny fix in Enums, stray ')' character
  content/en-us/reference/engine/datatypes/Enums.yaml
Labels: engine reference

#1158 Update documentation for GetWaveformAsync
  content/en-us/reference/engine/classes/AudioPlayer.yaml
  content/en-us/reference/engine/classes/AudioTextToSpeech.yaml
Labels: changes requested, engine reference

#1177 Fix “Robox” Typos
  content/en-us/matchmaking/scoring.md
  content/en-us/scripting/index.md
Labels: engine guides
