Repository Roblox/creator-docs, pull requests merged in 2025-04, with the labels that each got.

#1065 Update outdated line
  content/en-us/projects/assets/index.md
Labels: engine guides

#1067 Fix intro-to-module-scripts.md having a mixup
  content/en-us/tutorials/fundamentals/coding-6/intro-to-module-scripts.md
Labels: tutorials

#1069 Update GlobalDataStore.yaml
  content/en-us/reference/engine/classes/GlobalDataStore.yaml
Labels: engine reference

#1070 Update AnimationClipProvider.yaml
  content/en-us/reference/engine/classes/AnimationClipProvider.yaml
Labels: engine reference

#1071 Add note that external tools are not managed by Roblox
  content/en-us/projects/external-tools.md
Labels: engine guides

#1074 Update LineJoinMode.yaml
  content/en-us/reference/engine/enums/LineJoinMode.yaml
Labels: engine reference

#1075 Improved reading flow by swapping first and second paragraph
  content/en-us/reference/engine/classes/Handles.yaml
Labels: engine reference

#1053 Added engine detail to Camera.yaml
  content/en-us/reference/engine/classes/Camera.yaml
Labels: engine reference

#1077 Update surface-appearance.md
  content/en-us/art/modeling/surface-appearance.md
Labels: art

#1078 Update Animator.yaml
  content/en-us/reference/engine/classes/Animator.yaml
Labels: engine reference

#1080 Update StarterGui.yaml
  content/en-us/reference/engine/classes/StarterGui.yaml
Labels: engine reference

#1076 Update StandalonePluginScripts.yaml
  content/en-us/reference/engine/classes/StandalonePluginScripts.yaml
Labels: changes requested, engine reference

#1079 Update RunService.yaml
  content/en-us/reference/engine/classes/RunService.yaml
Labels: engine reference

#1082 Updated lower minimum density
  content/en-us/physics/units.md
Labels: engine guides

#1066 Update webhook-notifications.md
  content/en-us/cloud/webhooks/webhook-notifications.md
Labels: changes requested, cloud

#1086 Update UserInputService.yaml and change apostrophe.png to quote.png
  content/en-us/assets/scripting/controls/quote.png
  content/en-us/reference/engine/classes/UserInputService.yaml
Labels: assets, engine reference

#1090 Update marketplace-fees-and-commissions.md
  content/en-us/marketplace/marketplace-fees-and-commissions.md
Labels: engine guides

#1091 Update moderation.md
  content/en-us/marketplace/moderation.md
Labels: changes requested, engine guides
