Repository Roblox/creator-docs, pull requests merged in 2025-09, with the labels that each got.

#1235 Add references to FreeCam camera tilting keybinds
  content/en-us/production/publishing/thumbnails.md
Labels: engine guides

#1237 Add clarification to buffer.create
  content/en-us/reference/engine/libraries/buffer.yaml
Labels: engine reference, stale

#1259 chest-destroy-function
  content/en-us/tutorials/fundamentals/coding-6/create-with-module-scripts.md
Labels: tutorials

#1250 Remove Enum from Luau Reference section
  content/en-us/luau/enums.md
Labels: changes requested, engine guides
