Repository Roblox/creator-docs, pull requests merged in 2025-08, with the labels that each got.

#1184 Fix spell issue
  content/en-us/reference/engine/classes/PackageLink.yaml
Labels: engine reference

#1182 Update Players.yaml
  content/en-us/reference/engine/classes/Players.yaml
Labels: engine reference

#1174 Replace outdated terms
  content/en-us/education/build-it-play-it-story-games/complete-the-challenge.md
Labels: education

#1173 Replace “Friends” with “Connections”
  content/en-us/tutorials/curriculums/animator/next-steps.md
Labels: tutorials

#1204 ADHOC: Update allowedHttpLinks.txt
  tools/checks/utils/allowedHttpLinks.txt
Labels: tools

#1205 Fix luau url in luau docs
  content/en-us/luau/index.md
Labels: engine guides

#1214 Fix typo
  content/en-us/production/publishing/publish-experiences-and-places.md
Labels: engine guides
