Repository Roblox/creator-docs, pull requests merged in 2025-03, with the labels that each got.

#1040 Fix incorrect class in TextChatService overview
  content/en-us/chat/in-experience-text-chat.md
Labels: engine guides

#1041 Fix typo "Spacial" to "Spatial" in tag-table.md
  content/en-us/studio/microprofiler/tag-table.md
Labels: studio

#1042 Update RunService.yaml
  content/en-us/reference/engine/classes/RunService.yaml
Labels: changes requested, engine reference

#1044 Unessesary word in bubble-chat.md
  content/en-us/chat/bubble-chat.md
Labels: engine guides

#1046 Update TextChatCommand.yaml
  content/en-us/reference/engine/classes/TextChatCommand.yaml
Labels: changes requested, engine reference

#1048 Added code snippet for deriving TextChatMessageProperties
  content/en-us/reference/engine/classes/TextChatMessageProperties.yaml
Labels: changes requested, engine reference

#1050 Clarity around the sender/receiver in ShouldDeliverCallback.
  content/en-us/reference/engine/classes/TextChannel.yaml
Labels: engine reference

#1054 Fix 'default typecheck mode'
  content/en-us/luau/type-checking.md
Labels: engine guides

#1057 Replace their with there and mention that Lighting.Technology cannot be accessed from Roblox Studio
  content/en-us/reference/engine/classes/DataModelMesh.yaml
  content/en-us/reference/engine/classes/VideoService.yaml
Labels: changes requested, engine reference

#1058 Improve EnableDefaultVoice documentation
  content/en-us/reference/engine/classes/VoiceChatService.yaml
Labels: engine reference

#1056 Legacy API : asset-delivery api added
  content/en-us/cloud/legacy.md
Labels: changes requested, cloud

#1063 Removed references to deleted methods EditableImage:WritePixels and EditableImage:ReadPixels and rewrote select descriptions accordingly.
  content/en-us/reference/engine/classes/EditableImage.yaml
Labels: engine reference

#1064 Fix typo: Change "ServerScriptStorage" to "ServerScriptService"
  content/en-us/chat/examples/group-chat-tags.md
Labels: engine guides
