Repository Roblox/creator-docs, pull requests merged in 2025-01, with the labels that each got.

#959 Update allowedHttpLinks.txt
  tools/checks/utils/allowedHttpLinks.txt
Labels: tools

#958 Update rdc.md
  content/en-us/creator-programs/rdc.md
Labels: changes requested, engine guides

#954 fix: Update game.Players to game:GetService("Players")
  content/en-us/production/monetization/developer-products.md
  content/en-us/reference/engine/classes/Backpack.yaml
  content/en-us/reference/engine/classes/GuiObject.yaml
  content/en-us/reference/engine/classes/Object.yaml
  content/en-us/reference/engine/classes/Tool.yaml
  content/en-us/reference/engine/classes/Translator.yaml
Labels: engine guides, engine reference

#955 Fix error message type
  content/en-us/reference/engine/globals/LuaGlobals.yaml
Labels: engine reference, stale

#970 Update sharing-animations.md
  content/en-us/education/build-it-play-it-island-of-move/sharing-animations.md
Labels: education

#953 Change math.floor to more performant // operator
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
  content/en-us/education/battle-royale-series/creating-a-gui.md
  content/en-us/education/battle-royale-series/ending-matches.md
  content/en-us/luau/metatables.md
  content/en-us/reference/engine/libraries/bit32.yaml
  content/en-us/tutorials/use-case-tutorials/lighting/creating-flickering-lights.md
  content/en-us/ui/3D-drag-detectors.md
Labels: education, engine guides, engine reference, tutorials, stale

#961 Add link to MemoryStoreHashMap documentation for easier access
  content/en-us/cloud-services/memory-stores/hash-map.md
Labels: engine guides

#962 Modified type of argument parent in Instance.new constructor
  content/en-us/reference/engine/datatypes/Instance.yaml
Labels: engine reference

#967 Warn about client-side tags being dropped
  content/en-us/reference/engine/classes/CollectionService.yaml
  content/en-us/reference/engine/classes/Instance.yaml
Labels: engine reference

#976 Remove use of the word "force" in describing ApplyImpulse methods
  content/en-us/reference/engine/classes/BasePart.yaml
Labels: engine reference

#935 Update RollOffMode.yaml to add the mathematical formulas for RolloffM…
  content/en-us/reference/engine/enums/RollOffMode.yaml
Labels: engine reference

#974 General Iteration #2
  content/en-us/projects/transferring-animations.md
  content/en-us/resources/feature-packages/bundles.md
Labels: changes requested, engine guides, resources

#957 Ported Luau documentation for vector library to the Roblox documentation
  content/en-us/reference/engine/libraries/vector.yaml
Labels: changes requested, engine reference

#984 Optimization of Collision Group Script
  content/en-us/workspace/collisions.md
Labels: changes requested, engine guides

#985 Fixed minor grammar mistake in metatables.md
  content/en-us/luau/metatables.md
Labels: engine guides

#979 Update allowedHttpLinks.txt
  tools/checks/utils/allowedHttpLinks.txt
Labels: tools

#989 Update CFrame.yaml
  content/en-us/reference/engine/datatypes/CFrame.yaml
Labels: engine reference

#993 'emultation' to 'emulation'
  content/en-us/studio/ui-overview.md
Labels: studio

#991 fix: shortcuts ctrl/command shift combination order
  content/en-us/studio/shortcuts.md
Labels: studio

#987 Update AudioAnalyzer docs to mention server limitations
  content/en-us/reference/engine/classes/AudioAnalyzer.yaml
Labels: engine reference

#994 fix: TextColor3 default value
  content/en-us/reference/engine/classes/ChatWindowMessageProperties.yaml
Labels: engine reference

#978 Update HttpService.yaml with HTTP methods, explanations, and resources.
  content/en-us/reference/engine/classes/HttpService.yaml
Labels: changes requested, engine reference

#999 Fix typo in oauth2-registration.md
  content/en-us/cloud/open-cloud/oauth2-registration.md
Labels: cloud

#1001 change title using "inferface" (INFERFACE) to the correct "interface"…
  content/en-us/tutorials/curriculums/user-interface-design/index.md
Labels: tutorials

#1003 Humanoid:ChangeState() description update
  content/en-us/reference/engine/classes/Humanoid.yaml
Labels: engine reference

#1006 Little Writing Changes to Humanoid Page
  content/en-us/reference/engine/classes/Humanoid.yaml
Labels: changes requested, engine reference

#1004 Update automate-right-to-erasure.md
  content/en-us/cloud/webhooks/automate-right-to-erasure.md
Labels: changes requested, cloud

#1007 Mention local `Secret`s
  content/en-us/reference/engine/classes/HttpService.yaml
Labels: changes requested, engine reference
