Repository Roblox/creator-docs, changes with the owners that CODEOWNERS names for each.
All owners: @Roblox/creator-knowledge, @Roblox/documentation, @Roblox/education

CODEOWNERS:

*                                                           @Roblox/creator-knowledge

/content/                                                   @Roblox/documentation
/STYLE.md                                                   @Roblox/documentation
/content/en-us/education/                                   @Roblox/documentation @Roblox/education
/content/en-us/assets/education/                            @Roblox/documentation @Roblox/education
/tools/checks/utils/allowedHttpLinks.txt                    @Roblox/creator-knowledge @Roblox/documentation @Roblox/education

Improve code in in-experience-asset-creation.md
  content/en-us/projects/assets/in-experience-asset-creation.md
Owners: @Roblox/documentation

Improve code in events.md
  content/en-us/animation/events.md
Owners: @Roblox/documentation

Improve code in using.md
  content/en-us/animation/using.md
Owners: @Roblox/documentation

Improve code in scripting-avatar-animations.md
  content/en-us/tutorials/building/animation/scripting-avatar-animations.md
Owners: @Roblox/documentation

Improve code in Player.yaml
  content/en-us/reference/engine/classes/Player.yaml
Owners: @Roblox/documentation

Improve formatting in Animator.yaml
  content/en-us/reference/engine/classes/Animator.yaml
Owners: @Roblox/documentation

Update index.md
  content/en-us/tutorials/first-experience/index.md
Owners: @Roblox/documentation

Create SECURITY.md
  SECURITY.md
Owners: @Roblox/creator-knowledge

Fix grammar
  content/en-us/reference/engine/classes/Animator.yaml
Owners: @Roblox/documentation

Fix grammar
  content/en-us/reference/engine/classes/Player.yaml
Owners: @Roblox/documentation

Add wikipedia link to allowedHttpLinks.txt
  tools/checks/utils/allowedHttpLinks.txt
Owners: @Roblox/creator-knowledge, @Roblox/documentation, @Roblox/education

Fix link name
  tools/checks/utils/allowedHttpLinks.txt
Owners: @Roblox/creator-knowledge, @Roblox/documentation, @Roblox/education

Improve code in developer-products.md
  content/en-us/production/monetization/developer-products.md
Owners: @Roblox/documentation

Improve readability and fix auto-link in Model.yaml
  content/en-us/reference/engine/classes/Model.yaml
Owners: @Roblox/documentation

Clarify that product functions must return true in developer-products.md
  content/en-us/production/monetization/developer-products.md
Owners: @Roblox/documentation

Update custom-particle-effects.md
  content/en-us/tutorials/building/effects/custom-particle-effects.md
Owners: @Roblox/documentation

Typing errors fix
  content/en-us/tutorials/building/effects/basic-particle-effects.md
Owners: @Roblox/documentation

Update intro-to-scripting.md
  content/en-us/tutorials/scripting/basic-scripting/intro-to-scripting.md
Owners: @Roblox/documentation

Update raycasting.md
  content/en-us/workspace/raycasting.md
Owners: @Roblox/documentation

Update invite-prompts.md
  content/en-us/production/promotion/invite-prompts.md
Owners: @Roblox/documentation

Improve formatting in invite-prompts.md (#213)
  content/en-us/production/promotion/invite-prompts.md
Owners: @Roblox/documentation

Improve code in scripting-avatar-animations.md (#223)
  content/en-us/tutorials/building/animation/scripting-avatar-animations.md
Owners: @Roblox/documentation

Improve code in in-experience-asset-creation.md (#220)
  content/en-us/projects/assets/in-experience-asset-creation.md
Owners: @Roblox/documentation

Remove $DESCRIPTION_SHORT
  content/en-us/reference/engine/classes/UIGridStyleLayout.yaml
Owners: @Roblox/documentation

Add More Information about "Unknown" Enums
  content/en-us/reference/engine/enums/InputType.yaml
  content/en-us/reference/engine/enums/SaveFilter.yaml
  content/en-us/reference/engine/enums/Status.yaml
Owners: @Roblox/documentation

Improve code in type-checking.md
  content/en-us/luau/type-checking.md
Owners: @Roblox/documentation

Fix auto-link in drag-detectors.md
  content/en-us/ui/drag-detectors.md
Owners: @Roblox/documentation

Fix Some Guide Links
  content/en-us/reference/engine/classes/Chat.yaml
  content/en-us/reference/engine/classes/GamePassService.yaml
  content/en-us/reference/engine/enums/ScaleType.yaml
Owners: @Roblox/documentation

Few Grammar Fixes (requested by Quality Checks)
  content/en-us/reference/engine/classes/UIGridStyleLayout.yaml
  content/en-us/reference/engine/enums/ScaleType.yaml
Owners: @Roblox/documentation

Document accoutrement welds
  content/en-us/reference/engine/classes/Accoutrement.yaml
Owners: @Roblox/documentation

some changes to bit32 Simplified a lot of language and added diagrams to the bitwise operators
  content/en-us/assets/engine-api/libraries/bit32/32bit_restriction.png
  content/en-us/assets/engine-api/libraries/bit32/band.png
  content/en-us/assets/engine-api/libraries/bit32/bnot.png
  content/en-us/assets/engine-api/libraries/bit32/bor.png
  content/en-us/assets/engine-api/libraries/bit32/bxor.png
  content/en-us/assets/engine-api/libraries/bit32/lsh.png
  content/en-us/assets/engine-api/libraries/bit32/rsh.png
  content/en-us/reference/engine/libraries/bit32.yaml
Owners: @Roblox/documentation

Fix HTML
  content/en-us/reference/engine/libraries/bit32.yaml
Owners: @Roblox/documentation

Update index.md
  content/en-us/avatar/index.md
Owners: @Roblox/documentation

Improve formatting and grammar in Animator.yaml (#225)
  content/en-us/reference/engine/classes/Animator.yaml
Owners: @Roblox/documentation

Improve code in type-checking.md (#232)
  content/en-us/luau/type-checking.md
Owners: @Roblox/documentation

Apply suggestions from code review
  content/en-us/tutorials/building/effects/basic-particle-effects.md
  content/en-us/tutorials/scripting/basic-scripting/intro-to-scripting.md
  content/en-us/workspace/raycasting.md
Owners: @Roblox/documentation

Fix auto-link in drag-detectors.md (#233)
  content/en-us/ui/drag-detectors.md
Owners: @Roblox/documentation

Updates to multiple documentation files. (#231)
  content/en-us/tutorials/building/effects/basic-particle-effects.md
  content/en-us/tutorials/building/effects/custom-particle-effects.md
  content/en-us/tutorials/scripting/basic-scripting/intro-to-scripting.md
  content/en-us/workspace/raycasting.md
Owners: @Roblox/documentation

Improve code and grammar in Player.yaml (#224)
  content/en-us/reference/engine/classes/Player.yaml
Owners: @Roblox/documentation

Update TriangleMeshPart.yaml
  content/en-us/reference/engine/classes/TriangleMeshPart.yaml
Owners: @Roblox/documentation
