Repository Roblox/creator-docs, changes with the owners that CODEOWNERS names for each.
All owners: @Roblox/creator-knowledge, @Roblox/documentation, @Roblox/education

Improve formatting in creating-a-health-pickup.md (#199)
  content/en-us/tutorials/scripting/intermediate-scripting/creating-a-health-pickup.md
Owners: @Roblox/documentation

Improve code in developer-products.md (#200)
  content/en-us/production/monetization/developer-products.md
Owners: @Roblox/documentation

Update cleanup-and-reset.md
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
Owners: @Roblox/documentation, @Roblox/education

Improve code in cleanup-and-reset.md (#195)
  content/en-us/education/battle-royale-series/cleanup-and-reset.md
Owners: @Roblox/documentation, @Roblox/education

Improve code in adding-scripts.md (#198)
  content/en-us/education/build-it-play-it-mansion-of-wonder/adding-scripts.md
Owners: @Roblox/documentation, @Roblox/education

Update leaderboards.md
  content/en-us/players/leaderboards.md
Owners: @Roblox/documentation

Improve code in leaderboards.md (#201)
  content/en-us/players/leaderboards.md
Owners: @Roblox/documentation

Update creating-a-timed-bridge.md
  content/en-us/tutorials/fundamentals/coding-4/creating-a-timed-bridge.md
Owners: @Roblox/documentation

Update creating-a-timed-bridge.md (#204)
  content/en-us/tutorials/fundamentals/coding-4/creating-a-timed-bridge.md
Owners: @Roblox/documentation

Update strings.md
  content/en-us/luau/strings.md
Owners: @Roblox/documentation

Create Update Roblox
  .vscode/Update Roblox
Owners: @Roblox/creator-knowledge

Improve code and formatting in laser-traps-with-beams.md
  content/en-us/tutorials/building/effects/laser-traps-with-beams.md
Owners: @Roblox/documentation

Improve code in gamepad.md
  content/en-us/input/gamepad.md
Owners: @Roblox/documentation

Revert formatting
  content/en-us/tutorials/building/effects/laser-traps-with-beams.md
Owners: @Roblox/documentation

Fix missing character
  content/en-us/projects/performance-optimization/memory.md
Owners: @Roblox/documentation

Remove duplicate sentence*
  content/en-us/studio/avatar-tab.md
Owners: @Roblox/documentation

Improve code in laser-traps-with-beams.md (#207)
  content/en-us/tutorials/building/effects/laser-traps-with-beams.md
Owners: @Roblox/documentation

Update gamepad.md
  content/en-us/input/gamepad.md
Owners: @Roblox/documentation

Improve code in gamepad.md (#208)
  content/en-us/input/gamepad.md
Owners: @Roblox/documentation

Fix missing character (#209)
  content/en-us/projects/performance-optimization/memory.md
Owners: @Roblox/documentation

Remove duplicate sentence (#210)
  content/en-us/studio/avatar-tab.md
Owners: @Roblox/documentation

Roblox Studio
  content/en-us/studio/index.md
Owners: @Roblox/documentation

Add new `__idiv` metamethod (#131)
  content/en-us/luau/metatables.md
Owners: @Roblox/documentation

Update assemblies.md
  content/en-us/physics/assemblies.md
Owners: @Roblox/documentation

Improve formatting in invite-prompts.md
  content/en-us/production/promotion/invite-prompts.md
Owners: @Roblox/documentation

Format code in memory.md
  content/en-us/projects/performance-optimization/memory.md
Owners: @Roblox/documentation

Fix auto-links in computation.md
  content/en-us/projects/performance-optimization/computation.md
Owners: @Roblox/documentation

Fix auto-links in computation.md (#215)
  content/en-us/projects/performance-optimization/computation.md
Owners: @Roblox/documentation

Update assemblies.md (#212)
  content/en-us/physics/assemblies.md
Owners: @Roblox/documentation

Format code in memory.md (#214)
  content/en-us/projects/performance-optimization/memory.md
Owners: @Roblox/documentation

Update debounce.md
  content/en-us/scripting/debounce.md
Owners: @Roblox/documentation

fix: repeated "on" in PlayerGui
  content/en-us/reference/engine/classes/PluginGui.yaml
Owners: @Roblox/documentation

simplify wording in debounce.md (#216)
  content/en-us/scripting/debounce.md
Owners: @Roblox/documentation

fix: repeated "on" in PlayerGui (#217)
  content/en-us/reference/engine/classes/PluginGui.yaml
Owners: @Roblox/documentation

Apply suggestions from code review
  content/en-us/luau/type-checking.md
Owners: @Roblox/documentation

Update type-checking.md
  content/en-us/luau/type-checking.md
Owners: @Roblox/documentation

Luau gradual typing documentation (#35)
  content/common/navigation/engine/guides.yaml
  content/en-us/luau/type-checking.md
Owners: @Roblox/documentation

Remove coming soon note from README
  README.md
Owners: @Roblox/creator-knowledge

Remove coming soon note from README (#218)
  README.md
Owners: @Roblox/creator-knowledge

Update appearance.mdiskw
  content/en-us/characters/appearance.md
Owners: @Roblox/documentation

CODEOWNERS:

*                                                           @Roblox/creator-knowledge

/content/                                                   @Roblox/documentation
/STYLE.md                                                   @Roblox/documentation
/content/en-us/education/                                   @Roblox/documentation @Roblox/education
/content/en-us/assets/education/                            @Roblox/documentation @Roblox/education
/tools/checks/utils/allowedHttpLinks.txt                    @Roblox/creator-knowledge @Roblox/documentation @Roblox/education
