Repository Roblox/creator-docs, changes with the owners that CODEOWNERS names for each.
All owners: @Roblox/creator-knowledge, @Roblox/documentation, @Roblox/education

Update content/en-us/tutorials/scripting/basic-scripting/deadly-lava.md
  content/en-us/tutorials/scripting/basic-scripting/deadly-lava.md
Owners: @Roblox/documentation

Add auto-links to deadly-lava.md (#136)
  content/en-us/tutorials/scripting/basic-scripting/deadly-lava.md
Owners: @Roblox/documentation

Apply suggestions from code review
  content/en-us/tutorials/scripting/basic-scripting/scoring-points.md
Owners: @Roblox/documentation

Fix auto-links in scoring-points.md (#137)
  content/en-us/tutorials/scripting/basic-scripting/scoring-points.md
Owners: @Roblox/documentation

Add leaderstat ordering info
  content/en-us/players/leaderboards.md
Owners: @Roblox/documentation

Update leaderboards.md
  content/en-us/players/leaderboards.md
Owners: @Roblox/documentation

Rename index.md to index.m
  content/en-us/tutorials/first-experience/index.m
Owners: @Roblox/documentation

Rename content/en-us/studio/index.md to content/en-us/689doh
  content/en-us/689doh
Owners: @Roblox/documentation

Create SECURITY.md
  SECURITY.md
Owners: @Roblox/creator-knowledge

Rename CODEOWNERS to Luluziinha77]
  Luluziinha77]
Owners: @Roblox/creator-knowledge

Apply suggestions from code review
  content/en-us/tutorials/scripting/basic-scripting/fading-trap.md
Owners: @Roblox/documentation

Add auto-links to fading-trap.md (#138)
  content/en-us/tutorials/scripting/basic-scripting/fading-trap.md
Owners: @Roblox/documentation

Apply suggestions from code review
  content/en-us/tutorials/building/effects/laser-traps-with-beams.md
Owners: @Roblox/documentation

Add auto-links to laser-traps-with-beams.md (#141)
  content/en-us/tutorials/building/effects/laser-traps-with-beams.md
Owners: @Roblox/documentation

Fixed typos/errors in example code & improved wording for clarity (#123)
  content/en-us/characters/appearance.md
  content/en-us/characters/index.md
  content/en-us/characters/name-health-display.md
  content/en-us/characters/pathfinding.md
  content/en-us/characters/r6-to-r15-adapter.md
Owners: @Roblox/documentation

Fix grammar and formatting in code-the-leaderboard.md
  content/en-us/education/adventure-game-series/code-the-leaderboard.md
Owners: @Roblox/documentation, @Roblox/education

Fix grammar and formatting in code-the-leaderboard.md (#163)
  content/en-us/education/adventure-game-series/code-the-leaderboard.md
Owners: @Roblox/documentation, @Roblox/education

Update content/en-us/luau/control-structures.md
  content/en-us/luau/control-structures.md
Owners: @Roblox/documentation

Add Generalized Iteration to control-structures (#81)
  content/en-us/luau/control-structures.md
Owners: @Roblox/documentation

Make refresh token bullets consistent with Access token bullets
  content/en-us/cloud/open-cloud/oauth2-overview.md
Owners: @Roblox/documentation

Update leaderboards.md
  content/en-us/players/leaderboards.md
Owners: @Roblox/documentation

Fix grammar and improve code in adding-animations.md
  content/en-us/education/build-it-play-it-island-of-move/adding-animations.md
Owners: @Roblox/documentation, @Roblox/education

Improve code and instructions in selling-items.md
  content/en-us/education/adventure-game-series/selling-items.md
Owners: @Roblox/documentation, @Roblox/education

Improve code and formatting in buying-upgrades.md
  content/en-us/education/adventure-game-series/buying-upgrades.md
Owners: @Roblox/documentation, @Roblox/education

Fix formatting in code-the-leaderboard.md
  content/en-us/education/adventure-game-series/code-the-leaderboard.md
Owners: @Roblox/documentation, @Roblox/education

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Update content/en-us/scripting/security/security-tactics.md
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

fixed datastores article linking changed to data-limits since it's more applicable
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Fix formatting in code-the-leaderboard.md (#168)
  content/en-us/education/adventure-game-series/code-the-leaderboard.md
Owners: @Roblox/documentation, @Roblox/education

security-tactics improvements and additions (#8)
  content/en-us/scripting/security/security-tactics.md
Owners: @Roblox/documentation

Apply suggestions from code review
  content/en-us/players/leaderboards.md
Owners: @Roblox/documentation

CODEOWNERS:

*                                                           @Roblox/creator-knowledge

/content/                                                   @Roblox/documentation
/STYLE.md                                                   @Roblox/documentation
/content/en-us/education/                                   @Roblox/documentation @Roblox/education
/content/en-us/assets/education/                            @Roblox/documentation @Roblox/education
/tools/checks/utils/allowedHttpLinks.txt                    @Roblox/creator-knowledge @Roblox/documentation @Roblox/education
